.b-accordion {
    display: none;

  @include bp($bp-540) {
    display: block;
    margin-bottom: 30px;
  }
}

.b-accordion-item {

  &.open {
    .b-accordion__content {
      display: block;
    }


    .b-accordion__title {
      background-color: $white;
      border-bottom-color: transparent;

      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

.b-accordion__title {
  position: relative;
  font-family: $Intro;
  font-size: 14px;
  line-height: 18px;
  color: $black-two;
  padding: 15px 20px;
  border: solid 1px #e1e1e1;
  background-color: rgba(235, 232, 222, 0.51);

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    margin: auto;
    @include svg-i-arrow-down_mini
  }
}

.b-accordion__content {
  display: none;
  margin-top: -5px;
  padding: 0 20px 8px;
  border-left: solid 1px #e1e1e1;
  border-right: solid 1px #e1e1e1;
  border-bottom: solid 1px #e1e1e1;
  background-color: $white;

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: $black-two;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
