.b-catalog {
  margin-top: -60px;
  position: relative;
}

.b-catalog__slider {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  img {
    margin: 0 auto;
  }
}

.b-catalog__slider-img {
  opacity: 0;
}

.b-catalog__slider-img-option {
  position: absolute;
  bottom: -27px;
  transform: translate(-50%, 0);
  width: 222px;
  height: 111px;

  &[data-state='0'],  &[data-state='2'], &[data-state='3'], &[data-state='5'] {
    left: 28.5%;
  }
  &[data-state='1'], &[data-state='4'], &[data-state='6'] {
    left: 72%;
  }
}

.b-catalog__desc {
  position: relative;

  .swiper-wrapper {
    padding-top: 100px;

    @include bp($bp-ipad-1024) {
      padding-top: 79px;
    }
  }

  .b-catalog__control {
    .swiper-arrow {
      top: 55px;

      @include bp($bp-ipad-to-table) {
        display: none;
      }
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev {
      left: 0;
    }
  }

  .swiper-slide-active {
    .b-catalog__desc-img-mobile {
      opacity: 1;
    }
    .b-catalog__icon {
      transform: translate(-50%, -50%) scale(1);

      &.b-catalog__icon--1-1 {
        top: 100%;
        left: 9%;
      }

      &.b-catalog__icon--1-2 {
        top: 14%;
        left: 35%;
      }

      &.b-catalog__icon--1-3 {
        top: -3%;
        left: 67%;
      }

      &.b-catalog__icon--1-4 {
        top: 91%;
        left: 89%;
      }

      &.b-catalog__icon--1-11 {
        top: 64%;
        left: 20%;
      }
      &.b-catalog__icon--1-22 {
        width: 181px;
        height: 156px;
        top: 38%;
        left: 82%;
      }

      &.b-catalog__icon--1-12 {
        right: 10%;
        opacity: 1;
      }

      // 2 //

      &.b-catalog__icon--2-3 {
        left: 82%;
        top: 24%;
      }

      &.b-catalog__icon--2-2 {
        top: 89%;
        left: 14%;
      }

      &.b-catalog__icon--2-1 {
        left: 40%;
        opacity: 1;
      }

      // 3 //

      &.b-catalog__icon--3-1 {
        top: 98%;
        left: 14%;
      }

      &.b-catalog__icon--3-2 {
        top: 43%;
        left: 27%;
        z-index: -1;
      }

      &.b-catalog__icon--3-3 {
        top: 7%;
        left: 75%;
        z-index: -1;
      }

      &.b-catalog__icon--3-4 {
        width: 188px;
        height: 160px;
        top: 87%;
        left: 87%;
      }

      &.b-catalog__icon--3-5 {
        top: 53%;
        left: 71%;
      }

      &.b-catalog__icon--3-6 {
        top: 99%;
        left: 61%;
      }

      // 4 //

      &.b-catalog__icon--4-1 {
        top: 80%;
        left: 15%;
      }

      &.b-catalog__icon--4-2 {
        top: 34%;
        left: 24%;
      }

      &.b-catalog__icon--4-3 {
        top: 14%;
        left: 80%;
      }

      &.b-catalog__icon--4-4 {
        top: 96%;
        left: 72%;
      }

      // 5 //

      &.b-catalog__icon--5-1 {
        top: 64%;
        left: 17%;
      }

      &.b-catalog__icon--5-2 {
        top: 18%;
        left: 28%;
      }

      &.b-catalog__icon--5-3 {
        top: -9%;
        left: 67%;
      }

      &.b-catalog__icon--5-4 {
        top: 38%;
        left: 83%;
      }

      &.b-catalog__icon--5-5 {
        top: 98%;
        left: 41%;
      }

      // 6 //

      &.b-catalog__icon--6-1 {
        top: 84%;
        left: 16%;
      }

      &.b-catalog__icon--6-2 {
        top: 24%;
        left: 31%;
      }

      &.b-catalog__icon--6-3 {
        top: 36%;
        left: 71%;
      }

      &.b-catalog__icon--6-4 {
        width: 155px;
        height: 30px;
        top: 30%;
        left: 94%;
      }

      &.b-catalog__icon--6-5 {
        left: 60%;
        opacity: 1;
      }

      // 7 //

      &.b-catalog__icon--7-1 {
        top: 84%;
        left: 17%;
      }

      &.b-catalog__icon--7-2 {
        top: 92%;
        left: 42%;
      }

      &.b-catalog__icon--7-3 {
        top: 65%;
        left: 80%;
      }
    }

    .b-catalog__desc-text {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.b-catalog__desc-item {

}

.b-catalog__desc-item--active {
  .b-catalog__desc-img > img {
    opacity: 1;
  }
}

.b-catalog__desc-img {
  position: relative;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  img {
    margin: 0 auto;
  }
  & > img {
    //opacity: 0;
  }
}

.b-catalog__desc-img-mobile {
  display: none;

  @include bp($bp-ipad-1024) {
    display: block;
    opacity: 0;
  }

  img {
    margin: 0 auto;
  }
}

.b-catalog__desc-text {
  max-width: 480px;
  margin: 75px auto 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: $black-two;
  min-height: 72px;
  opacity: 0;
  transform: translateY(-10px);
  transition: .3s ease-in-out all;

  @include bp($bp-ipad-1024) {
    margin-top: 0;
  }

  @include bp($bp-540) {
    font-size: 14px;
    line-height: 20px;
    max-width: 400px;
    margin-top: 10px;
  }

  @include bp($bp-480) {
    padding: 0 20px;
  }
}



.b-catalog__icon--c {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  //transition: 1s ease-in-out all;
}

.b-catalog__slider-img-option {
  transition: .6s ease-in-out all;
}

.b-catalog__icon {
  position: absolute;
  transition: .65s ease-in-out all;
}

.b-catalog__icon--slide {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
}

.b-catalog__icon--1-12 {
  bottom: -36%;
  right: 0;
}

.b-catalog__icon--2-1 {
  bottom: -30%;
  left: 27%;
}

.b-catalog__icon--6-5 {
  bottom: -26%;
  left: 75%;
}


.b-catalog__titles {
  position: relative;
  max-width: 874px;
  margin: 0 auto;

  @include bp($bp-ipad-to-table) {
    max-width: 544px;
  }

  @include bp($bp-640) {
    max-width: 400px;
  }

  @include bp($bp-480) {
    max-width: 190px;
  }


  .swiper-wrapper {
    padding: 20px 0;
  }

  .swiper-slide-thumb-active {
    .b-catalog__titles-item-wrap {
      transform: translateY(-10px);

      @include bp($bp-480) {
        transform: translateY(0px);
      }

      &:after {
        transform: translateY(0);
      }
    }
  }
}

.b-catalog__titles-item {
  padding: 0 10px;
}

.b-catalog__titles-item-wrap {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
  background-color: $white;
  font-family: $Intro;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $black;
  height: 92px;
  display: flex!important;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: .3s ease-in-out transform;

  @include bp($bp-ipad-to-table) {
    font-size: 14px;
    line-height: 18px;
  }

  &:hover {
    &:after {
      transform: translateY(0);
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: calc(100% - 14px);
    left: 7px;
    height: 20px;
    border-radius: 13px;
    background-color: $leaf;
    top: -14px;
    transform: translateY(-7px);
    transition: .3s ease-in-out all
  }
}


.b-catalog__subs {
  max-width: 1120px;
  margin: 180px auto 30px;

  @include bp($bp-ipad-768) {
    margin-top: 78px;
  }

  @include bp($bp-540) {
    margin-top: 98px;
  }

  .b-about-icons__item-text {
    font-size: 15px;
    line-height: 24px;
  }

  .b-about-icons {
    width: calc(100% + 54px);

    @include bp($bp-ipad-1024) {
      width: 100%;
    }

    @include bp($bp-600) {
      margin-bottom: 0;
    }
  }

  .b-about-icons__item {
    margin-bottom: 40px;

    @include bp($bp-600) {
      margin-bottom: 0;
    }
  }
}

.b-catalog__subs-title {
  font-family: $Intro;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: $black;

  @include bp($bp-540) {
    font-size: 22px;
    line-height: 26px;
  }
}


.b-catalog__control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .swiper-arrow {
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 200;
    width: 21px;
    height: 28px;
    background: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include svg-ico-arrow-down;
    }
  }
  .swiper-button-next {
    right: -37px;
    transform: rotate(-90deg);
  }

  .swiper-button-prev {
    transform: rotate(90deg);
    left: -37px;
  }
}

.b-catalog__relative {
  position: relative;
  .salad--md {
    top: -268px;
    right: 94px;
    width: 247px;
    height: 212px;

    @include bp($bp-ipad-768) {
      top: -160px;
      right: 146px;
      width: 181px;
      height: 155px;
    }

    @include bp($bp-540) {
      width: 158px;
      height: 135px;
      right: -12px;
      top: -150px;
    }
  }

  .pepper-2 {
    top: -110px;
    left: -95px;

    @include bp($bp-ipad-768) {
      left: auto;
      top: -20px;
      right: 40px;
    }

    @include bp($bp-540) {
      width: 83px;
      left: -40px;
      right: auto;
      top: -100px;
    }
  }
}
