.b-error {
  position: relative;
  //margin-top: -56px;
  z-index: 5;

  height: calc(100vh - 140px - 145px);

  @include bp($bp-ipad-1024) {
    height: calc(100vh - 140px - 85px);
    height: calc(var(--vh, 1vh) * 100 - 140px - 85px);
  }

  @include bp($bp-540) {
    height: calc(100vh - 140px - 145px);
    height: calc(var(--vh, 1vh) * 100  - 140px - 145px);
  }
}

.b-error__img {
  position: relative;
  height: calc(100% - 155px);

  &:hover {
    img {
      &:last-child {
        opacity: 1;
      }
    }
  }

  @include bp($bp-ipad-768) {
    height: auto;
  }

  @include bp($bp-600){
    height: calc(100% - 200px);
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: contain;

    @include bp($bp-ipad-1024) {
      max-height: 460px;
    }

    &:last-child {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .3s ease-in-out all;
    }
  }
}

.b-error__title {
  margin-top: 30px;
  font-family: $Intro;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  text-align: center;

  @include bp($bp-540) {
    font-size: 22px;
    margin-top: 20px;
  }

  @include bp($bp-360) {
    font-size: 20px;
  }

  span {
    display: none;
  }
}

.b-error__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: $black-two;
  max-width: 356px;
  margin: 10px auto;

  @include bp($bp-360) {
    font-size: 14px;
    line-height: 22px;
  }
}

.b-error__link {
  display: block;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #559511;
}
