.b-line-pattern {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 0;

  .container {
    position: relative;
    max-width: calc(1300px - 20px*2);
    height: 100%;
    display: flex;
    justify-content: space-between;

    @include bp($bp-540) {
      padding: 0 40px;
    }
  }
}

.b-line-pattern__line {
  width: calc(100%/6);
  height: 100%;
  border-left: 1px solid rgba(235, 232, 222, .65);

  @include bp($bp-ipad-768) {
    width: calc(100%/4);

    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      display: none;
    }
  }

  @include bp($bp-540) {
    width: calc(100%/3);

    &:nth-child(3) {
      display: none;
    }
  }

  &:last-child {
    border-right: 1px solid $pale;
  }
  //border-right: 1px solid $pale;
  //background-color: $pale;
}

.b-line-pattern--image {
  position: absolute;
  z-index: 1;
}
