.b-main-screen {
  width: 100%;

  .container {
    position: relative;
    height: 100%;

  }
}

.b-main-screen__mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 727px;
  height: 306px;
  z-index: 10;

  @include bp($bp-1366) {
    top: 48%;
  }

  @include bp($bp-ipad-1024) {
    top: 50%;
    width: 579px;
    height: 243px;
  }

  @include bp($bp-540) {
    width: 240px;
    height: 101px;
  }
}

@keyframes cir {
  0% { transform: translateY(-40px) scale(0); opacity: 0;}
  25% { transform: translateY(-40px) scale(1); opacity: 1;}
  50% { transform: translateY(0) scale(1); opacity: 1;}
  75% { transform: translateY(-25px) scale(1); opacity: 1; }
  100% { transform: translateY(0) scale(1); opacity: 1; }
}

@keyframes cir1 {
  0% { transform: translateY(-33px) scale(0); opacity: 0;}
  25% { transform: translateY(-33px) scale(1); opacity: 1;}
  50% { transform: translateY(0) scale(1); opacity: 1;}
  75% { transform: translateY(-18px) scale(1); opacity: 1; }
  100% { transform: translateY(0) scale(1); opacity: 1; }
}

@keyframes cir2 {
  0% { transform: translateY(-15px) scale(0); opacity: 0;}
  25% { transform: translateY(-15px) scale(1); opacity: 1;}
  50% { transform: translateY(0) scale(1); opacity: 1;}
  75% { transform: translateY(-8px) scale(1); opacity: 1; }
  100% { transform: translateY(0) scale(1); opacity: 1; }
}

.b-main-screen__mask-circle {
  width: 40px;
  height: 40px;
  background-color: $black;
  position: absolute;
  z-index: 1000;
  bottom: 88px;
  right: 13px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(-44px) scale(0);
  animation-name: cir;
  animation-duration: 1.8s; /* Продолжительность анимации */
  animation-delay: 3s; /* Задержка */
  animation-fill-mode: forwards;

  @include bp($bp-ipad-1024) {
    width: 32px;
    height: 32px;
    bottom: 69px;
    right: 10px;
    animation-name: cir1;
  }

  @include bp($bp-540) {
    width: 14px;
    height: 14px;
    bottom: 29px;
    right: 4px;
    animation-name: cir2;
  }
}

.b-main-screen__mask-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.b-main-screen__mask-img--under {
  //background-color: #3F3F3F;
  z-index: 10;
  video {
    display: block;
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    object-fit: cover;
    mask-image: url("../images/shef-mask.svg");
    mask-position: center center;
    mask-size: 100%;
    mask-repeat: no-repeat;
  }
}

.b-main-screen__sign {
  position: absolute;
  top: calc(50% + 236px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-family: $Intro-Alt;
  font-size: 24px;
  line-height: 36px;
  white-space: nowrap;

  @include bp($bp-1366) {
    top: calc(42% + 236px);
  }

  @include bp($bp-custom-height-2) {
    top: calc(44% + 236px);
  }

  @include bp($bp-custom) {
    top: calc(40% + 236px);
  }

  @include bp($bp-ipad-1024) {
    top: calc(50% + 180px);
  }

  @include bp($bp-540) {
    font-size: 16px;
    line-height: 24px;
    top: calc(49% + 80px)!important;
  }

  span {
    position: relative;
    display: block;
    width: 138px;
    height: 36px;
    background-color: $leaf;
    color: $white;
    text-align: center;

    @include bp($bp-540) {
      width: 94px;
      height: 26px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $leaf;
      transition: 1s ease-in-out all;
    }
  }
}

.b-main-screen__sign--active {
  span {
    &:after {
      width: 0%;
    }
  }
}

@keyframes animm {
  50% { transform: translateX(7px) rotate(90deg); }

}

.b-main-screen__scroll {
  position: absolute;
  bottom: 75px;
  left: -20px;
  font-size: 12px;
  padding-left: 30px;
  transform: rotate(-90deg);
  cursor: pointer;
  z-index: 1000;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  //&:hover {
  //  &:after {
  //    transform: rotate(90deg) translateY(5px);
  //  }
  //}

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -7px;
    top: 0;
    margin: auto;
    @include svg-ico-arrow-down;
    transform: rotate(90deg);
    transition: transform .3s ease-in-out;
    animation: animm 2.5s linear infinite;
  }
}

.b-main-screen__share {
  position: absolute;
  bottom: 30px;
  right: 19px;
  width: 50px;
  height: 50px;
  z-index: 1000;

  @include bp($bp-ipad-1024) {
    position: fixed;
    z-index: 100;
  }

  &:hover {
    .b-main-screen__share-list {
      visibility: visible;
    }

    & > .b-main-screen__share-item {
      box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.09);
      background-color: $white;
    }
    .b-main-screen__share-item {
      opacity: 1!important;
      transform: translateY(0) !important;
      transition-delay: .3s;
    }
  }
}

.b-main-screen__share-list {
  position: absolute;
  bottom: 50px;
  display: block;
  visibility: hidden;

  .b-main-screen__share-item {
    margin-bottom: 10px;
    opacity: 0;

    &:nth-child(4) {
      transform: translateY(60px);
    }

    &:nth-child(3) {
      transform: translateY(120px);
    }

    &:nth-child(2) {
      transform: translateY(180px);
    }

    &:nth-child(1) {
      transform: translateY(240px);
    }
  }
}

.b-main-screen__share-item {
  position: relative;
  width: 50px;
  height: 50px;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.09);
  background-color: $white;
  border-radius: 50%;
  transition: .3s ease-in-out all;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--icon {
    transition-delay: .3s;
    z-index: 10;
    background-color: transparent;
    box-shadow: none;

    @include bp($bp-ipad-1024) {
      box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.09);
      background-color: $white;
    }

    &:after {
      left: 54%;
      @include svg-ico-share;
    }
  }

  &--tw {
    &:after {
      @include svg-icon-twit;
    }
  }

  &--fb {
    &:after {
      @include svg-icon-fc;
    }
  }

  &--inst {
    &:after {
      @include svg-ico-inst;
    }
  }

  &--vk {
    &:after {
      @include svg-icon-vk;
    }
  }
}

.b-main-screen__title {
  padding-top: 95px;
  padding-left: 110px;

  @include bp($bp-ipad-768) {
    padding-top: 80px;
    padding-left: 0;
  }

  h1, h2 {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100px;
      height: 4px;
      background-color: $leaf;

      @include bp($bp-540) {
        width: 70px;
      }
    }
  }

  p {
    max-width: 530px;
    margin-bottom: 0;
    color: $black-two;

    @include bp($bp-ipad-768) {
      max-width: 430px;
    }

    @include bp($bp-540) {
      max-width: 100%;
    }
  }
}

.b-main-screen__title--center {
  text-align: center;

  h1, h2 {
    &:after {
      right: 0;
      margin: 0 auto;
    }
  }
}

.b-main-screen__info {
  position: relative;
  padding: 40px 110px 0;
  display: flex;
  margin: 0 -10px;

  @include bp($bp-ipad-to-table) {
    margin: 0 -15px;
  }

  @include bp($bp-ipad-768) {
    padding: 30px 0 0;
  }

  @include bp($bp-540) {
    flex-wrap: wrap;
    padding-top: 20px;
  }
}

.b-main-screen__info-item {
  position: relative;
  margin: 0 10px;
  height: 400px;
  z-index: 10;

  @include bp($bp-ipad-to-table) {
    margin: 0 15px;
  }

  &:first-child {
    width: calc(30% - 20px);

    @include bp($bp-ipad-to-table) {
      width: calc(55% - 30px);
    }

    @include bp($bp-540) {
      width: 100%;
    }
  }

  &:nth-child(2) {
    width: calc(40% - 20px);

    @include bp($bp-ipad-to-table) {
      display: none;
    }
  }

  &:nth-child(3) {
    width: calc(30% - 20px);

    @include bp($bp-ipad-to-table) {
      width: calc(45% - 30px);
    }

    @include bp($bp-540) {
      width: 100%;
      margin-top: 46px;
    }
  }
}

.b-main-screen__info-item--img {
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.b-main-screen__info-item--quote {
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
  background-color: $white;
  padding: 60px 30px 20px;
  display: flex;
  flex-direction: column;

  @include bp($bp-540) {
    height: 292px;
    padding: 50px 20px 20px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 28px;
    top: -17px;
    @include svg-ico-right-quote;

    @include bp($bp-540) {
      left: 20px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
    color: $black-two;

    @include bp($bp-540) {
      font-size: 18px;
      line-height: 24px;

    }
  }

  h3 {
    margin-top: auto;
    font-family: $Intro;
    font-size: 14px;
    line-height: 1;
    color: $black-two;
    text-align: right;
    margin-bottom: 0;
  }
}

.b-main-screen__info-block {
  position: absolute;
  width: 201px;
  height: 202px;
  background-image: linear-gradient(136deg, $pale-grey 16%, $off-white 97%);
  z-index: 0;

  @include bp($bp-540) {
    display: none;
  }
}

.b-main-screen__info-block--top {
  right: 51px;
  top: -38px;

  @include bp($bp-ipad-768) {
    width: 184px;
    top: -60px;
    right: -19px;
  }
}

.b-main-screen__info-block--bottom {
  width: 202px;
  left: 51px;
  bottom: -92px;

  @include bp($bp-ipad-768) {
    left: -19px;
  }
}

.b-main-screen__control {
  position: relative;
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;

  @include bp($bp-ipad-768) {
    margin-bottom: 80px;
  }

  @include bp($bp-540) {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.b-main-screen__slider-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.b-main-screen__slider {
  position: relative;
  min-height: 475px;
  max-width: 1150px;
  //width: 100%;
  margin: 0 auto 100px;

  @include bp($bp-ipad-768) {
    margin-bottom: 150px;
  }

  @include bp($bp-540) {
    width: calc(100% + 40px);
    margin-left: -20px;
    min-height: auto;
    margin-bottom: 30px;
  }

  .swiper-container {
    padding: 84px 20px 10px 38px;

    @include bp($bp-540) {
      padding-left: 0;
    }
  }

  .swiper-slide {
    .b-main-screen__slider-img {
      img {
        transition: .4s ease-in-out all;
      }
    }

    &:nth-child(1) {
      .b-main-screen__slider-img {
        &:hover {
          img {
            &:first-child {
              transform: rotate(5deg);
            }
          }
        }
        img {
          &:first-child {
            top: -50px;
            left: -40px;

            @include bp($bp-540) {
              top: -30px;
              left: -20px;
            }
          }
        }
      }
    }
    &:nth-child(2) {
      .b-main-screen__slider-img {
        &:hover {
          img {
            &:first-child {
              transform: rotate(-55deg);
            }
          }
        }

        img {
          &:first-child {
            top: -5px;
            left: -10px;
            transform: rotate(-50deg);
          }
        }
      }
    }
    &:nth-child(3) {
      .b-main-screen__slider-item {
        margin-left: 34px;
      }
      .b-main-screen__slider-img {
        &:hover {
          img {
            &:first-child {
              transform: rotate(-19deg);
            }
          }
        }

        img {
          &:first-child {
            top: -18px;
            left: -25px;
            transform: rotate(-15deg);

            @include bp($bp-540) {
              top: 0px;
              left: -10px;
              transform: rotate(-35deg);
            }
          }
        }
      }
    }

    &:nth-child(4) {
      .b-main-screen__slider-item {
        margin-left: 20px;
      }
      .b-main-screen__slider-img {
        &:hover {
          img {
            &:first-child {
              transform: rotate(-10deg);
            }
          }
        }

        img {
          &:first-child {
            top: -40px;
            left: -30px;
            transform: rotate(-5deg);

            @include bp($bp-540) {
              top: -20px;
              left: -20px;
            }
          }
        }
      }
    }

    &:nth-child(5) {
      .b-main-screen__slider-item {
        margin-left: 30px;
      }

      .b-main-screen__slider-img {
        &:hover {
          img {
            &:first-child {
              transform: rotate(-45deg);
            }
          }
        }
        img {
          &:first-child {
            top: -20px;
            left: -45px;
            transform: rotate(-50deg);

            @include bp($bp-540) {
              top: 0;
              left: 0;
            }
          }
        }
      }
    }

  }
}

.b-main-screen__slider-top {
  transition: .3s ease-in-out all;
}

.b-main-screen__slider-item {

  &:hover {
    .b-main-screen__slider-img {
      transform: scale(.7) translateY(-90px);

      @include bp($bp-ipad-1024) {
        transform: none;
      }
    }
    .b-main-screen__slider-top {
      transform: translateY(-90px);
      @include bp($bp-ipad-1024) {
        transform: none;
      }
    }

    .b-main-screen__slider-desc {
      opacity: 1;
      visibility: visible;
    }
  }

  @include bp($bp-540) {
    width: 310px;
    margin: 0 auto!important;
    text-align: center;

    br {
      display: none;
    }
  }

  @include bp($bp-320) {
    width: 280px;
  }
}

.b-main-screen__slider-img {
  position: relative;
  margin-bottom: 30px;
  transition: .3s ease-in-out all;

  img {
    display: block;

    @include bp($bp-540) {
      margin: 0 auto;
    }

    &:first-child {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.b-main-screen__slider-desc {
  opacity: 0;
  visibility: hidden;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #121212;
  margin-top: 10px;
  transition: .3s ease-in-out all;

  @include bp($bp-ipad-1024) {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
  }
}


.b-main-screen__slider-control {
  position: absolute;
  width: 104px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: -39px;
  right: 27px;

  @include bp($bp-540) {
    top: 40px;
    right: 13px;
  }

  .swiper-button-prev {
    @include svg-ico-arrow-down;
    transform: rotate(90deg);
  }

  .swiper-button-next {
    @include svg-ico-arrow-down;
    transform: rotate(-90deg);
  }

  .custom-button-slider {
    outline: none;
  }
}

.b-main-screen__slider-pagination {
  display: none;

  @include bp($bp-540) {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    left: 20px;
  }

  .swiper-pagination {
    display: flex;
    font-family: $Intro;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: $black-two;
  }
}
.b-main-screen__wh-block {
  position: absolute;
  bottom: 0;
  left: -115px;
  width: 175px;
  height: 175px;
  background-color: $white;

  @include bp($bp-1280) {
    display: none;
  }
}

.b-main-screen__lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: -1;

  .container {
    position: relative;
    width: 100%;
    max-width: calc(1300px - 20px*2);
    height: 100%;
    display: flex;
    justify-content: space-between;

    @include bp($bp-540) {
      padding: 0 40px;
    }
  }
}

.b-main-screen__lines-item {
  height: 80px;
  width: calc(100%/6);

  @include bp($bp-ipad-768) {
    width: calc(100%/4);
    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(6) {
      background-color: $white;
    }
  }

  @include bp($bp-540) {
    width: calc(100%/3);
    height: 35px;

    &:nth-child(3) {
      display: none;
    }
  }

  &:nth-child(5) {
    background-color: $white;

    @include bp($bp-ipad-768) {
      background-color: transparent;
    }
  }
}

.b-main-screen__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(124deg, $pale-grey 17%, $off-white 98%);
  z-index: -2;
}


//
//
// mod
//
//

.b-main-screen--first {
  position: relative;
  overflow: hidden;
  height: 100vh;

  @include bp($bp-ipad-1024) {
    height: calc(var(--vh, 1vh) * 100);
  }

  .salad--lg {
    top: 160px;
    left: -210px;

    @include bp($bp-ipad-768) {
      top: -50px;
      left: -100px;
    }

    @include bp($bp-540) {
      width: 282px;
      height: 240px;
      top: -51px;
      left: -176px;
    }
  }

  .salad--md {
    right: -130px;
    bottom: 160px;

    @include bp($bp-ipad-768) {
      right: -175px;
      bottom: 140px;
    }

    @include bp($bp-540) {
      width: 164px;
      height: 140px;
      right: -70px;
      bottom: 82px;
      z-index: 1;
    }

    @include bp($bp-360) {
      display: none;
    }

  }

  .salad--sm {
    left: 270px;
    top: -150px;

    @include bp($bp-ipad-768) {
      display: none;
    }
  }

  .pepper-1 {
    top: 82px;
    left: -90px;
    right: 0;
    margin: auto;

    @include bp($bp-ipad-768) {
      top: 127px;
      left: -40px;
    }

    @include bp($bp-540) {
      top: 84px;
      left: -100px;
    }
  }

  .pepper-2 {
    top: 244px;
    right: -15px;

    @include bp($bp-ipad-768) {
      top: 183px;
      right: 24px;
    }

    @include bp($bp-540) {
      top: 119px;
      right: -25px;
    }
  }

  .pepper-3 {
    bottom: 288px;
    left: 0;

    @include bp($bp-ipad-768) {
      display: none;
    }
  }

  .pepper-4 {
    left: 140px;
    bottom: 80px;

    @include bp($bp-ipad-768) {
      left: -10px;
      bottom: 205px;
    }

    @include bp($bp-540) {
      bottom: 119px;
    }

    @include bp($bp-360) {
      display: none;
    }
  }
}

.b-main-screen--about {
  position: relative;

  .b-main-screen__title {
    h2 {
      margin-bottom: 28px;

      @include bp($bp-ipad-768) {
        margin-bottom: 38px;
      }

      @include bp($bp-540) {
        margin-bottom: 28px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;

      @include bp($bp-ipad-768) {
        line-height: 24px;
      }

      @include bp($bp-540) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }


  .salad--md-2 {
    top: -145px;
    left: 0;
    right: -690px;
    margin: auto;

    @include bp($bp-custom) {
      top: -110px;
    }

    @include bp($bp-ipad-1024) {
      right: -290px;
    }

    @include bp($bp-ipad-768) {
      right: 0;
      width: 217px;
      height: 186px;
      top: -155px;
      left: 114px;
      margin: 0;
    }

    @include bp($bp-540) {
      width: 133px;
      height: 114px;
      top: -80px;
      left: 56px;
    }
  }

  .pepper-2 {
    left: 0;
    bottom: 45px;
    z-index: 10;

    @include bp($bp-ipad-768) {
      left: 24px;
      bottom: -30px;
    }

    @include bp($bp-540) {
      left: auto;
      right: 5px;
      bottom: -101px;
    }
  }

  .pepper-5 {
    top: -100px;
    left: 400px;


    @include bp($bp-ipad-768) {
      right: 147px;
      left: auto;
    }

    @include bp($bp-540) {
      width: 133px;
      height: 128px;
      top: -178px;
      right: 3px;
    }
  }

  .leaves {
    top: 190px;
    right: 15px;
    z-index: 20;

    @include bp($bp-ipad-768) {
      right: 20px;
      top: 230px;
      z-index: 10;
    }

    @include bp($bp-540) {
      display: none;
    }
  }
}

.b-main-screen--purpose {
  position: relative;
  overflow: hidden;
  margin-bottom: -145px;

  @include bp($bp-ipad-1024) {
    margin-bottom: -85px;
  }

  @include bp($bp-540) {
    margin-bottom: 0;
  }

  .b-main-screen__title {
    @include bp($bp-540) {
      padding-top: 40px;
    }

    h2 {
      margin-bottom: 49px;

      @include bp($bp-ipad-768) {
        margin-bottom: 38px;
      }

      @include bp($bp-540) {
        margin-bottom: 28px;
      }
    }

    h3 {
      max-width: 530px;
      font-size: 28px;
      font-weight: 300;
      line-height: 36px;
      margin-bottom: 30px;

      @include bp($bp-ipad-768) {
        max-width: 430px;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
      }

      @include bp($bp-600) {
        font-size: 20px;
        line-height: 26px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 32px;

      @include bp($bp-ipad-768) {
        font-size: 16px;
        line-height: 24px;
      }

      @include bp($bp-540) {
        font-size: 14px;
      }
    }
  }

  .pepper-1 {
    top: 170px;
    right: 380px;

    @include bp($bp-ipad-1024) {
      right: 50px;
    }

    @include bp($bp-ipad-768) {
      top: 138px;
      right: 140px;
    }

    @include bp($bp-720) {
      right: 40px;
    }

    @include bp($bp-540) {
      display: none;
    }
  }

  .pepper-3 {
    left: 12px;
    bottom: 60px;

    @include bp($bp-ipad-1024) {
      display: none;
    }
    @include bp($bp-ipad-768) {
      display: none;
    }
  }

  .pepper-4 {
    bottom: 30px;
    right: 20px;

    @include bp($bp-ipad-1024) {
      display: none;
    }
    @include bp($bp-ipad-768) {
      bottom: 10px;
      right: auto;
      left: 160px;
    }


  }

  .salad--md-2 {
    bottom: -220px;
    right: 290px;

    @include bp($bp-ipad-768) {
      right: 190px;
    }

    @include bp($bp-540) {
      right: auto;
      left: -100px;
      bottom: 0;
    }
  }

  .container {
    height: auto;
  }
}

.b-main-screen--layout {
  position: absolute;
  top: 0;
  left: 0;

  .salad--lg {
    top: 201px;
    left: -262px;

    @include bp($bp-ipad-768) {
      top: -140px;
      left: -160px;
    }

    @include bp($bp-540) {
      top: -72px;
      left: -178px;
      width: 280px;
      height: 240px;
      z-index: 1;
    }
  }

  .salad--md {
    right: -214px;
    bottom: 109px;
  }
}

.b-main-screen--news {
  .pepper-1 {
    @include bp($bp-ipad-768) {
      top: 100px;
      left: auto;
      right: 145px;
    }

    @include bp($bp-540) {
      top: 45px;
      left: 60px;
      right: auto;
    }
  }

  .pepper-2 {
    top: 274px;
    right: 51px;
    z-index: 1;

    @include bp($bp-ipad-768) {
      right: auto;
      left: 275px;
    }

    @include bp($bp-540) {
      top: 112px;
      right: -25px;
      left: auto;
    }
  }

  .salad--md {
    @include bp($bp-ipad-768) {
      bottom: auto;
      right: -130px;
      top: 232px;
      width: 261px;
      height: 224px;
    }
    @include bp($bp-540) {
      z-index: 0;
      top: 180px;
      right: -110px;
      display: block;
    }
  }
}

.b-main-screen--news-detail {
  .pepper-1 {
    top: 0;
    left: -372px;

    @include bp($bp-ipad-768) {
      top: 35px;
      left: auto;
      right: 145px;
    }

    @include bp($bp-540) {
      top: 45px;
      left: 60px;
      right: auto;
      z-index: 0;
    }
  }

  .pepper-2 {
    @include bp($bp-ipad-768) {
      top: 92px;
      left: 180px;
      right: auto;
    }
    @include bp($bp-540) {
      top: 112px;
      right: -25px;
      left: auto;
    }
  }

  .salad--sm {
    z-index: 4;
  }

  .salad--md {
    @include bp($bp-ipad-768) {
      bottom: auto;
      right: -110px;
      top: 287px;
      width: 176px;
      height: 150px;
    }

    @include bp($bp-540) {
      display: block;
      right: -140px;
      z-index: 0;
    }
  }

  .pepper-4 {
    @include bp($bp-custom-height-2) {
      display: none;
    }
  }
}

.b-main-screen--team {

  .pepper-4 {
    display: none;
  }

  .salad--sm {
    @include bp($bp-ipad-768) {
      display: block;
      top: auto;
      bottom: 10px;
      width: 181px;
      height: 155px;
      transform: rotate(180deg);
    }

    @include bp($bp-540) {
      bottom: auto;
      top: 400px;
      right: -80px;
      left: auto;
    }
  }

  .salad--md {
    top: 366px;
    right: 220px;
    bottom: auto;

    @include bp($bp-ipad-768) {
      top:400px;
      right: -70px;
      width: 261px;
      height: 224px;
    }

    @include bp($bp-540) {
      display: none;
    }
  }

  .pepper-1 { // new-deatil
    @include bp($bp-ipad-768) {
      top: 168px;
      left: auto;
      right: 145px;
    }

    @include bp($bp-540) {
      top: 43px;
      left: 34px;
      right: auto;
    }
  }

  .pepper-2 { // new-deatil
    @include bp($bp-ipad-768) {
      top: 92px;
      left: 180px;
      right: auto;
    }
    @include bp($bp-540) {
      top: 112px;
      left: auto;
      right: -30px;
    }
  }
}


.b-main-screen--contacts {

  //.b-main-screen__gradient {
  //  height: 100vh;
  //
  //  @include bp($bp-ipad-1024) {
  //    height: 100%;
  //  }
  //}

  .salad--lg {
    top: 155px;
    left: -222px;

    @include bp($bp-1240) {
      top: 140px;
      left: -250px;
    }

    @include bp($bp-ipad-768) {
      top: -140px;
      left: -160px;
    }
  }

  .salad--md {
    bottom: 15px;
  }

  .pepper-1 {
    top: 150px;
    left: 188px;
    right: auto;

    @include bp($bp-ipad-768) {
      top: 35px;
      left: auto;
      right: 145px;
    }

    @include bp($bp-540) {
      top: 45px;
      left: 60px;
      right: auto;
    }
  }

  .pepper-2 {
    @include bp($bp-ipad-768) {
      top: 310px;
      left: 80px;
      right: 0;
      margin: auto;
    }

    @include bp($bp-540) {
      top: 112px;
      right: -25px;
      left: auto;
    }
  }
}

.b-main-screen--404 {
  .pepper-1 {
    top: 116px;
    left: -500px;

    @include bp($bp-640) {
      top: 45px;
      left: 60px;
      right: auto;
    }
  }

  .pepper-5 {
    right: 120px;
    bottom: 165px;
    z-index: 10;

    @include bp($bp-ipad-1024) {
      right: 100px;
      bottom: 72px;
    }

    @include bp($bp-ipad-768) {
      right: 61px;
    }

    @include bp($bp-640) {
      display: none;
    }
  }

  .salad--md {
    @include bp($bp-ipad-768) {
      bottom: auto;
      top: 340px;
      right: -150px;
    }

    @include bp($bp-540) {
      right: -36px;
      top: auto;
      bottom: 94px;
      display: block;
      height: 83px;
      width: 98px;
    }
  }

  .pepper-4 {
    @include bp($bp-540) {
      width: 75px;
      bottom: 81px;
    }
  }

  & + .b-pattern {
    padding-top: 140px;
    //height: calc(100vh - 145px);
    //min-height: 800px;
    //
    //@include bp($bp-ipad-1024) {
    //  height: calc(100vh - 85px);
    //}
    //
    //@include bp($bp-640) {
    //  height: calc(100vh - 145px);
    //  min-height: 526px;
    //}
    //
    //@include bp($bp-375) {
    //  min-height: 539px;
    //}
  }
}

.b-main-screen--about-page {
  height: 940px;

  .b-main-screen__scroll {
    bottom: auto;
    top: calc(100vh - 100px);
  }

  .b-main-screen__share {
    bottom: auto;
    top: calc(100vh - 80px);

    @include bp($bp-ipad-1024) {
      bottom: 30px;
      top: auto;
    }
  }
  //.b-main-screen__gradient {
  //  height: 100vh;
  //
  //  @include bp($bp-ipad-1024) {
  //    height: 100%;
  //  }
  //}

  @include bp($bp-600) {
    height: auto;
  }

  .salad--lg {
    top: 201px;
    left: -262px;

    @include bp($bp-ipad-768) {
      top: -140px;
      left: -160px;
    }

    @include bp($bp-540) {
      top: -72px;
      left: -178px;
      width: 280px;
      height: 240px;
      z-index: 1;
    }
  }

  .salad--md {
    @include bp($bp-ipad-768) {
      width: 261px;
      height: 224px;
      top: 325px;
      right: -68px;
      display: block;
    }

    @include bp($bp-600) {
      display: none;
    }
  }

  .pepper-1 {
    @include bp($bp-ipad-768) {
      top: 35px;
      left: auto;
      right: 145px;
    }

    @include bp($bp-540) {
      top: 45px;
      left: 60px;
      right: auto;
      z-index: 0;
    }
  }

  .pepper-2 {
    top: 255px;
    right: 36px;
    z-index: 10;

    @include bp($bp-ipad-768) {
      top: 170px;
      left: 0;
      right: -90px;
      margin: auto;
    }

    @include bp($bp-540) {
      top: 112px;
      right: -25px;
      left: auto;
    }
  }

  .b-main-screen__mobile-img {
    display: none;
    position: relative;
    padding-right: 24px;

    @include bp($bp-600) {
      display: block;
    }

    img {
      position: relative;
      z-index: 10;
      margin-bottom: 30px;
    }

    .salad--md {
      width: 261px;
      height: 224px;
      top: -40px;
      right: -138px;
      display: block;
    }
  }

  .b-main-screen__title {
    padding-top: 170px;

    @include bp($bp-ipad-to-table) {
      padding-top: 187px;
    }

    h1 {
      margin-bottom: 38px;

      @include bp($bp-600) {
        margin-bottom: 28px;
      }
    }

    & > p {
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
      color: $black-two;
      margin-bottom: 40px;

      @include bp($bp-1240) {
        max-width: 450px;
      }

      @include bp($bp-ipad-1024) {
        max-width: 530px;
      }

      @include bp($bp-ipad-768) {
        margin-bottom: 30px;
      }

      @include bp($bp-600) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    & > span {
      max-width: 530px;
      display: block;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      color: $black-two;
      margin-bottom: 55px;

      @include bp($bp-1240) {
        max-width: 440px;
      }

      @include bp($bp-ipad-1024) {
        max-width: 310px;
      }

      @include bp($bp-ipad-768) {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
      }

      @include bp($bp-600) {
        max-width: 100%;
      }
    }
  }
}

.b-main-screen__file {
  position: relative;
  padding-left: 50px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 173px;

  @include bp($bp-600) {
    margin-bottom: 80px;
  }

  &:hover {
    &:before {
      top: 1px;
      left: 1px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    @include svg-icon-pdf;
  }

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -8px;
    width: 34px;
    height: 44px;
    background-color: $white;
    transition: .3s ease-in-out all;
  }
  p {
    font-size: 16px;
    line-height: 14px;
    color: $black-two;
    margin-bottom: 6px;
  }
  span {
    font-size: 13px;
    font-weight: 300;
    line-height: 14px;
    color: $black-two;
  }
}


.b-main-screen__about-img {
  position: absolute;
  top: 240px;
  right: 102px;

  @include bp($bp-1240) {
    width: 400px;
    right: 60px;
  }

  @include bp($bp-ipad-1024) {
    width: 310px;
    right: 60px;
    top: auto;
    bottom: 52px;
  }

  @include bp($bp-720) {
    width: 250px;
    right: 30px;
  }

  @include bp($bp-600) {
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

.b-main-screen__about-white {
  position: absolute;
  top: 115px;
  left: -40px;
  background-color: $white;
  width: 97%;
  height: 100%;
  z-index: -1;

  @include bp($bp-ipad-768) {
    left: 40px;
    width: calc(100% - 40px);
  }
}

.b-main-screen__box-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.5);
  background-color: $white;
  z-index: -1;
}


.b-main-screen--catalog {
  height: 885px;

  //.b-main-screen__gradient {
  //  height: 100vh;
  //
  //  @include bp($bp-ipad-1024) {
  //    height: 100%;
  //  }
  //}

  @include bp($bp-ipad-1024) {
    height: 906px;
  }

  .salad--lg {
    top: 120px;
    z-index: 10;

    @include bp($bp-ipad-768) {
      top: -140px;
    }

    @include bp($bp-540) {
      top: -72px;
    }
  }

  .salad.salad--md {
    display: none;
  }

  .pepper-1 {
    top: 102px;
    left: 214px;
    right: auto;

    @include bp($bp-ipad-768) {
      top: 70px;
      left: 90px;
    }

    @include bp($bp-540) {
      top: 130px;
      left: -60px;
    }
  }

  .pepper-2 {
    top: 174px;
    right: 60px;

    @include bp($bp-540) {
      top: 24px;
      right: -24px;
    }
  }

  .pepper-4 {
  display: none;
  }
}
