.b-map {
  width: calc(100% + 200px);
  margin-left: -100px;
  padding: 0 20px;
  margin-top: -180px;

  @include bp($bp-1280) {
    width: 100%;
    margin-left: 0;
  }

  @include bp($bp-custom) {
    padding: 0 34px;
  }

  @include bp($bp-ipad-768) {
    padding: 0;
    margin-top: 0;
  }
}

.b-map__map {
  position: relative;

  @include bp($bp-ipad-768) {
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.b-map__map--mobile {
  display: none;

  @include bp($bp-ipad-768) {
    display: block;
    margin-top: -60px;
  }

  @include bp($bp-540) {
    margin-top: -10px;
  }
}

.map-pin {
  @include svg-icon-pin;
}

.map-dot {
  position: absolute;

  &:hover {
    .map-tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &.active {
    .map-tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}

.map-dot--msk {
  top: 60%;
  left: 10.1%;
  .map-pin {

  }
}

.map-dot--sntp {
  top: 48.5%;
  left: 10.4%;
}

.map-dot--chel {
  top: 76%;
  left: 25.5%;
}

.map-dot--ishev {
  top: 67.5%;
  left: 21%;
}

.map-dot--krsn {
  top: 76.3%;
  left: 50.5%;
}

.map-dot--brn {
  top: 84.6%;
  left: 43.5%;
}

.map-dot--nsk {
  top: 78.3%;
  left: 42%;
}

.map-dot--smol {
  top: 57.4%;
  left: 6.4%;
}

.map-dot--vladivostok {
  top: 78%;
  left: 89%;

  .map-tooltip {
    left: auto;
    right: 48px;

    &:after {
      left: auto;
      right: -10px;
      border-left: 8px solid $white;
      border-right: 8px solid transparent;
    }
  }
}

.map-dot--samar {
  top: 73.5%;
  left: 16.8%;
}

.map-dot--vladimir {
  top: 59%;
  left: 12.8%;
}


.map-dot--kalin {
  top: 47.5%;
  left: 0.2%;
}

.map-tooltip {
  position: absolute;
  top: -124px;
  left: 48px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.09);
  background-color: $white;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out all;
  z-index: 100;

  &:after {
    content: '';
    bottom: 0;
    left: -10px;
    position: absolute;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid $white;
    border-bottom: 8px solid $white;
  }
}

.map-tooltip__title {
  font-family: $Intro;
  font-size: 22px;
  font-weight: bold;
  line-height:1;
  color: $black;
  margin-bottom: 10px;
}

.map-tooltip__list {
  p {
    display: flex;
    margin-bottom: 0;
    &:not(:first-child) {
      margin-top: 10px;
    }

    span {
      font-size: 14px;
      font-weight: 300;
      line-height: 16px;
      white-space: nowrap;

      &:nth-child(1) {
        font-weight: bold;
      }
      &:nth-child(2) {
        margin-left: 4px;
      }
    }
  }
}

.b-map__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  margin: 190px auto 0;
  justify-content: space-between;

  @include bp($bp-1280) {
    margin-top: 140px;
  }

  @include bp($bp-custom) {
    margin-top: 140px;
  }

  @include bp($bp-ipad-768) {
    margin-top: 246px;
    padding-left: 0;
  }

  @include bp($bp-640) {
    margin-top: 219px;
  }
}

.b-map__item {
  position: relative;
  width: calc(100%/3);
  margin-bottom: 62px;

  @include bp($bp-ipad-to-table) {
    width: 220px!important;
  }

  @include bp($bp-ipad-768) {
    width: 190px!important;
  }

  @include bp($bp-640) {
    width: 50% !important;
    margin-bottom: 40px;
  }

  @include bp($bp-480) {
    width: 100% !important;
  }

  &:nth-child(3n-1) {
    width: 350px;

    @include bp($bp-1280) {
      width: 300px;
    }

    //@include bp($bp-ipad-to-table) {
    //  width: 200px;
    //}
  }
  &:nth-child(3n) {
    width: 300px;

    @include bp($bp-1280) {
      width: 270px;
    }

    //@include bp($bp-ipad-to-table) {
    //  width: 200px;
    //}
  }

  &.active {
    .b-map__item__block {
      opacity: 1;
    }
  }
}

.b-map__item-wrap {
  max-width: 230px;

  &:hover {
    .b-map__item__block {
      opacity: 1;
    }
  }
}

.b-map__item__block {
  position: absolute;
  left: -20px;
  top: -20px;
  width: 240px;
  height: 92px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.09);
  background-color: $white;
  z-index: 0;
  opacity: 0;
  transition: .3s ease-in-out all;

  &:after {
    content: '';
    top: 0;
    right: 0;
    position: absolute;
    width: 6px;
    height: 92px;
    background-color: $leaf;
  }
}

.b-map__item-city {
  font-family: $Intro;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  color: $black;
  margin-bottom: 6px;
  position: relative;
}

.b-map__item-email {
  position: relative;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: $black-two;

  b {
    margin-right: 5px;
  }
}

.b-map__pepper {
  position: relative;

  .pepper-3 {
    top: 70px;
    left: 300px;

    @include bp($bp-ipad-768) {
      left: 0;
    }

    @include bp($bp-540) {
      left: -13px;
      top: 32px;
    }
  }

  .pepper-4 {
    top: 360px;
    left: -70px;

    @include bp($bp-ipad-768) {
      display: none;
    }
  }

  .pepper-5 {
    top: -20px;
    right: 280px;
    transform: rotate(-45deg);

    @include bp($bp-1280) {
      right: 0;
      top: -30px;
    }

    @include bp($bp-ipad-768) {
      right: 60px;
      top: 40px;
    }

    @include bp($bp-540) {
      right: 0;
      top: 20px;
    }

    @include bp($bp-480) {
      right: -77px;
      top: 200px;
    }
  }

  .salad--md-con{
    display: none;

    @include bp($bp-ipad-768) {
      display: block;
      width: 181px;
      height: 155px;

      left: 118px;
      top: 70px;
    }

    @include bp($bp-540) {
      width: 158px;
      height: 135px;

    }

    @include bp($bp-414) {
      left: 0;
      right: 0;
      margin: auto;
    }
  }

}
