.b-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 12000;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out all;
}

.b-mobile-menu--active {
  opacity: 1;
  visibility: visible;
}

.b-mobile-menu--slide {
  .b-mobile-menu__wrap {
    transform: translateX(0%);
  }
}

.b-mobile-menu__close {
  position: absolute;
  top: 40px;
  left: 44px;
  @include svg-i-close;
  z-index: 20;

  @include bp($bp-540) {
    top: 30px;
    left: 30px;
  }
}

.b-mobile-menu__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(20, 20, 20, 0.6);
  z-index: 10;

  @include bp($bp-540) {
    display: none;
  }
}

.b-mobile-menu__wrap {
  position: relative;
  z-index: 20;
  transform: translateX(-100%);
  transition: .3s ease-in-out transform;

  @include bp($bp-540) {
    transform: none;
  }
}

.b-mobile-menu__list {
  position: absolute;
  top: 47%;
  left: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%) skew(8deg);

  @include bp($bp-540) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.b-mobile-menu__item {
  font-family: $Intro;
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
  color: $black;
  margin-bottom: 17px;
  padding: 0 15px;
}

.b-mobile-menu__item--active {
  background-color: $white;
}

.b-mobile-menu__skew {
  position: absolute;
  top: 0;
  left: 0;
  width: 412px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  transform: skew(-8deg);
  background: $leaf;
  overflow: hidden;

  @include bp($bp-540) {
    width: 100%;
    transform: none;
  }
}

.b-mobile-menu__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 364px;
  height: 177px;
  background-color: #72ac34;
  transform: skew(102deg);

  @include bp($bp-540) {
    width: 100%;
    transform: skew(99deg);
  }
}

.b-mobile-menu__bottom-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #72ac34;

  @include bp($bp-540) {
    height: 88px;
  }
}

.b-mobile-menu__skew-clone {
  position: absolute;
  top: 0;
  left: 0;
  width: 212px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: $leaf;

  @include bp($bp-540) {
    display: none;
  }
}

.b-mobile-menu__soc {
  position: absolute;
  left: 105px;
  bottom: 30px;
  transform: skew(8deg);
  z-index: 20;
  display: flex;

  @include bp($bp-540) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.b-mobile-menu__soc-item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #5f9328;
  margin: 0 10px;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--tw {
    &:after {
      @include svg-icon-twit-w;
    }
  }

  &--fb {
    &:after {
      @include svg-icon-fc-w;
    }
  }

  &--inst {
    &:after {
      @include svg-ico-inst-w;
    }
  }

  &--vk {
    &:after {
      @include svg-icon-vk-w;
    }
  }
}


.b-mobile-menu__salad-1 {
  .salad {
    width: 271px;
    height: 230px;
    right: -70px;
    top: -50px;

    @include bp($bp-540) {
      top: -32px;
      right: -45px;
      width: 187px;
      height: 160px;
    }
  }
}

.b-mobile-menu__salad-2 {
  .salad {
    width: 166px;
    height: 141px;
    left: -52px;
    bottom: 284px;

    @include bp($bp-540) {
      width: 34px;
      height: 30px;
      left: 63px;
      bottom: 200px;
    }
  }
}

.b-mobile-menu__salad-3 {
  .salad {
    width: 34px;
    height: 30px;
    left: 72px;
    top: 224px;

    @include bp($bp-540) {
      width: 66px;
      height: 54px;
      top: 130px;
      left: -16px;
    }
  }
}


.b-mobile-menu__salad-4 {
  .salad {
    width: 184px;
    height: 162px;
    right: -85px;
    bottom: 96px;
    z-index: 10;
    @include bp($bp-540) {
      width: 141px;
      height: 120px;
      right: -50px;
      bottom: 88px;
    }
  }
}

.b-mobile-menu__links {
  display: none;

  @include bp($bp-540) {
    position: absolute;
    right: 18px;
    top: 19px;
    display: flex;
    z-index: 100;

    .b-header__menu-item {
      display: block;
    }

    .b-header__menu-item--lang {
      background-color: $white;
      border-color: $white;
      margin-top: 1px;
    }
  }
}
