.b-news-detail {
  position: relative;
  margin: 26px auto 30px;

  @include bp($bp-540) {
    margin-bottom: 70px;
  }
}

.b-news-detail__wrap {
  margin: 0 auto;
  max-width: 700px;

  @include bp($bp-ipad-768) {
    max-width: 100%;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;

    @include bp($bp-540) {
      font-size: 20px;
      line-height: 26px;
    }

    + p {
      margin-bottom: 20px;

      @include bp($bp-540) {
        margin-bottom: 10px;
      }
    }
  }

  h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;

    @include bp($bp-540) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    + p {
      margin-bottom: 15px;
    }
  }

  h4 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;

    @include bp($bp-540) {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  & > p {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    color: $black-two;
    margin-bottom: 30px;

    @include bp($bp-540) {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }

  & > img {
    margin-bottom: 30px;

    @include bp($bp-540) {
      margin-bottom: 20px;
    }
  }

  ul, ol {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;

    li {
      position: relative;
      padding-left: 25px;
      font-size: 15px;
      font-weight: 300;
      line-height: 26px;
      color: $black-two;

      @include bp($bp-540) {
        font-size: 14px;
        line-height: 24px;
      }

      &:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: $leaf;
        border-radius: 50%;
      }

      &:not(:first-child) {
        margin-top: 15px;

        @include bp($bp-540) {
          margin-top: 10px;
        }
      }
    }
  }

  ol {
    list-style: none;
    counter-reset: myCounter;
    padding-left: 0;
    margin-bottom: 30px;

    li {
      position: relative;

      &:after {
        display: none;
      }

      &:before {
        counter-increment: myCounter;
        content:counter(myCounter)".";
        position: absolute;
        top: 8px;
        left: 0;
        display: block;
        font-family: $Intro;
        font-size: 15px;
        font-weight: bold;
        line-height: 1;
        color: $black-two;
      }
    }
  }

  blockquote {
    margin-top: 46px;
    margin-bottom: 30px;
    position: relative;
    padding: 50px 30px 30px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.09);
    background-color: $white;

    @include bp($bp-540) {
      padding: 50px 20px 20px;
    }

    &:after {
      content: '';
      position: absolute;
      top: -16px;
      left: 26px;
      @include svg-ico-right-quote;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      line-height: 26px;
      color: $black-two;
      margin-bottom: 20px;

      @include bp($bp-540) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
      }
    }

    span {
      display: block;
      text-align: right;
      font-family: $Intro;
      font-size: 14px;
      font-weight: bold;
      line-height: 1;
      color: $black-two;
    }
  }

  table {
    width: 100%;
    background-color: $white;

    @include bp($bp-ipad-768) {
      width: calc(100% - 2px);
      margin-left: 1px;
    }
    thead {
      tr {
        background-color: $pale;
      }
      th {
        font-family: $Intro;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        color: $black-two;
        padding: 20px 16px 17px;
        text-align: center;
        white-space: nowrap;

        &:first-child {
          width: 40px;
          padding-left: 15px;
          text-align: left;
        }

        &:nth-child(2){
          text-align: left;
          padding-left: 16px;
        }
      }
    }

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: 1px solid transparent;
          }
        }

        &.active {
          background-color: rgba(235, 232, 222, 0.25);
        }
      }
      td {
        font-size: 14px;
        line-height: 18px;
        color: $black-two;
        text-align: center;
        border-left: 1px solid $very-light-pink;
        border-bottom: 1px solid $very-light-pink;
        padding-top: 11px;
        padding-bottom: 11px;

        &:first-child {
          border-left: 1px solid transparent;
          text-align: left;
          padding-left: 15px;

        }

        &:nth-child(2){
          text-align: left;
          padding-left: 16px;
        }
      }
    }
  }
}

.b-news-detail__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;

  @include bp($bp-ipad-768) {
    max-width: 510px;
  }
}

.b-news-detail__header-date {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: $black-two;
  padding-left: 39px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    @include svg-ico-calendar;
  }
}

.b-news-detail__header-name {
  display: flex;
  align-items: center;



  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;

    @include bp($bp-414) {
      margin-right: 0;
    }
  }

  span {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: $black-two;

    @include bp($bp-414) {
      display: none;
    }
  }
}

.b-news-detail__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;

  img {
    width: calc(50% - 10px);

    @include bp($bp-414) {
      width: 100%;

      &:last-child {
        margin-top: 20px;
      }
    }
  }
}

.b-news-detail__video {
  position: relative;
  margin-bottom: 30px;

  &.hidden {
    .b-news-detail__video-bg {
      visibility: hidden;
      opacity: 0;
    }

    .b-news-detail__video-play {
      visibility: hidden;
      opacity: 0;
    }

    h4 {
      visibility: hidden;
      opacity: 0;

      @include bp($bp-540) {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  video {
    display: block;
    max-width: 100%;
    height: auto;
    outline: none;
  }

  h4 {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: $white;
    margin-bottom: 0;
    z-index: 20;

    @include bp($bp-540) {
      position: static;
      font-size: 12px;
      line-height: 18px;
      color: $black;
      margin-top: 10px;
    }
  }
}

.b-news-detail__video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $black);
  z-index: 10;

  @include bp($bp-540) {
    height: calc(100% - 28px);
  }
}

.b-news-detail__video-play {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  @include svg-ico-player;
  opacity: 1;
  cursor: pointer;
  z-index: 20;
  transition: .3s ease-in-out all;

  @include bp($bp-540) {
    top: -28px;
    @include svg-ico-player-min;
  }

}

.b-news-detail__video-yt {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.b-news-detail__table {
  margin-bottom: 30px;

  @include bp($bp-540) {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 25px;
    padding-left: 20px;
    position: relative;

    &:after {
      content: '';
      width: 20px;
      height: 100%;
      right: 0;
      top: 0;
      position: absolute;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $white 100%);
    }
  }
}

.b-news-detail__table-scroll {
  @include bp($bp-540) {
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
}

.b-news-detail__table-fake {
  display: none;
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  @include bp($bp-540) {
    display: block;
  }
}

.b-news-detail__footer {
  border-top: 1px solid $very-light-pink;
  padding-top: 20px;
  margin-bottom: 10px;

  p {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: $black-two;
    margin-bottom: 0;
  }
}

.b-news-detail__asides {
  position: relative;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-news-detail__asides--left {
  .block-square {
    left: -260px;
    top: -200px;
  }

  .pepper-4 {
    left: -300px;
    top: -100px;
  }
}

.b-news-detail__asides--right {
  .pepper-5 {
    top: -150px;
    right: -330px;
    transform: rotate(-50deg);
  }

  .pepper-3 {
    top: -100px;
    right: -160px;
  }
}
