.b-tab {
  margin-bottom: 30px;

  @include bp($bp-540) {
    display: none;
  }
}

.b-tab__header {
  display: flex;
}

.b-tab__header-item {
  font-family: $Intro;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: $black-two;
  padding: 11px 19px 9px;
  border: solid 1px #e4e0d3;
  background-color: rgba(235, 232, 222, 0.51);
  cursor: pointer;

  &:not(:first-child) {
    margin-left: -1px;
  }

  &.active {
    background-color: $white;
    border-bottom-color: $white;
  }
}

.b-tab__body {
  margin-top: -1px;
  border: solid 1px #e1e1e1;
  background-color: $white;
  padding: 19px;
}

.b-tab__body-item {
  display: none;

  &.active {
    display: block;
  }

  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    color: $black-two;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
