.b-team {
  position: relative;
  z-index: 1;
  max-width: 1080px;
  margin: 40px auto 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include bp($bp-540) {
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

.b-team__item {
  position: relative;
  width: calc(100%/3 - 60px*2/3);

  @include bp($bp-ipad-1024) {
    width: calc(100%/3 - 20px*2/3);
  }

  @include bp($bp-ipad-768) {
    width: calc(50% - 20px);
  }

  @include bp($bp-540) {
    width: calc(50% - 10px);
  }

  @include bp($bp-480) {
    width: 100%;
    margin-top: 0!important;
    margin-bottom: 30px!important;
  }

  &:nth-child(1) {
    margin-bottom: 70px;

  }

  &:nth-child(2) {
    margin-top: 70px;

    .pepper-3 {
      top: -13px;
      right: -5px;
      display: none;

      @include bp($bp-540) {
        display: block;
      }
    }
  }

  &:nth-child(3) {
    @include bp($bp-ipad-768) {
      margin-top: -30px;
    }
  }
  &:nth-child(4) {
    @include bp($bp-ipad-768) {
      margin-top: 40px;
    }
    .pepper-2 {
      width: 87px;
      top: -47px;
      right: -15px;
      display: none;

      @include bp($bp-540) {
        display: block;
      }
    }
  }
  &:nth-child(5) {
    margin-top: 50px;

    @include bp($bp-ipad-768) {
      margin-top: -30px;
    }
  }
  &:nth-child(6) {
    margin-top: -10px;

    @include bp($bp-ipad-768) {
      margin-top: 40px;
    }

    .pepper-4 {
      bottom: -70px;
      right: -15px;
      display: none;

      @include bp($bp-540) {
        display: block;
        width: 80px;
        height: 67px;
        bottom: -72px;
      }
    }
  }

}

.b-team__item-img {
  padding: 10px 24px 0;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.09);
  background-color: $white;
  margin-bottom: 24px;
  transition: all 0.3s ease;

  @include bp($bp-540) {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
  }
}

.b-team__item-name {
  font-family: $Intro;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
  color: $black;
  margin-bottom: 5px;
  margin-left: 20px;

  @include bp($bp-480) {
    margin-left: 0;
  }
}

.b-team__item-position  {
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: $black-two;
  margin-left: 20px;
  @include bp($bp-480) {
    margin-left: 0;
  }
}


.b-team__blocks {
  position: relative;

  @include bp($bp-540) {
    display: none;
  }

  .block-square {
    @include bp($bp-ipad-1024) {
      display: none;
    }

    z-index: 0;

    &:first-child {
      position: absolute;
      left: -69px;
      top: -490px;
    }

    &:nth-child(2) {
      position: absolute;
      width: 203px;
      right: 133px;
      top: -230px;
    }
  }

  .pepper-4 {
    top: -200px;
    left: -110px;
    z-index: 0;

    @include bp($bp-ipad-768) {
      top: -145px;
      left: 291px;
    }
  }

  .pepper-3 {
    top: -380px;
    left: 328px;
    @include bp($bp-ipad-768) {
      top: -952px;
      left: 318px;
    }
  }

  .pepper-5 {
    top: -370px;
    right: -95px;
    z-index: 0;
    transform: rotate(-44deg);

    @include bp($bp-ipad-768) {
      top: -1160px;
    }
  }

  .pepper-2 {
    bottom: -100px;
    left: -100px;
    right: 0;
    margin: auto;
  }
}
