* {
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-family: $Intro;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 0;

  @include bp($bp-540) {
    font-size: 26px;
    line-height: 32px;
  }
}
