.block-square {
  position: absolute;
  width: 204px;
  height: 204px;
  background-color: $white;
}

.block-square--gradient {
  background-image: linear-gradient(136deg, $pale-grey 16%, $off-white 97%);
}
