.pepper {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.pepper-1 {
  width: 110px;
  height: 156px;
  background-image: url("../images/pepper/pepper_1.png");

  @include bp($bp-540) {
    width: 91px;
    height: 130px;
  }
}

.pepper-2 {
  width: 110px;
  height: 91px;
  background-image: url("../images/pepper/pepper_2.png");
}

.pepper-3 {
  width: 86px;
  height: 68px;
  background-image: url("../images/pepper/pepper_3.png");
}

.pepper-4 {
  width: 119px;
  height: 96px;
  background-image: url("../images/pepper/pepper_4.png");
}

.pepper-5 {
  width: 164px;
  height: 158px;
  background-image: url("../images/pepper/pepper_5.png");
}

.pepper-6 {
  width: 109px;
  height: 90px;
  background-image: url("../images/pepper/pepper_6.png");
}

.pepper-7 {
  width: 149px;
  height: 118px;
  background-image: url("../images/pepper/pepper_7.png");
}
