.salad {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.salad--lg {
  width: 361px;
  height: 310px;
  background-image: url("../images/salad/salad-lg.png");
}

.salad--md {
  width: 320px;
  height: 275px;
  background-image: url("../images/salad/salad-md.png");
}


.salad--md-con {
  width: 261px;
  height: 224px;
  background-image: url("../images/salad/salad-md-con.png");
}

.salad--md-2 {
  width: 261px;
  height: 224px;
}

.salad--sm {
  width: 232px;
  height: 199px;
  background-image: url("../images/salad/salad-sm.png");
}
