extends _layout

block title
    title О компании
block content
    .page.js-parallax
        .b-main-screen.b-main-screen--first.b-main-screen--about-page
            .b-main-screen__gradient
            .b-main-screen__lines
            .container
                +scr-sh
                .salad.salad--lg.parallax-1
                .salad.salad--md.parallax-3
                .salad.salad--sm

                .pepper.pepper-1.parallax-6
                .pepper.pepper-2.js-parallax-layer(data-parallax-deep="90")
                .pepper.pepper-3.js-parallax-layer(data-parallax-deep="110")

                .b-main-screen__title
                    h1 О компании
                    p Смелее меняйте свои представления о&nbsp;технологиях в&nbsp;сфере мясопереработки и&nbsp;производстве молочных продуктов! А&nbsp;мы, компания
                        = ' '
                        b SHEF technology
                        | , с&nbsp;удовольствием Вам в&nbsp;этом поможем!
                    .b-main-screen__mobile-img
                        .salad.salad--md
                        img(src='./images/about/img-about-1.png' alt='')
                    span &laquo;ШЕФ технологии&raquo;&nbsp;&mdash; молодая&nbsp;и, вероятно, самая прогрессивная компания-новатор на&nbsp;рынке функциональных ингредиентов и&nbsp;специй для мясопереработки и&nbsp;производства молочных продуктов. Мы&nbsp;проповедуем философию уникальности во&nbsp;всём&nbsp;&mdash; от&nbsp;ингредиентов, которые мы&nbsp;предлагаем рынку, до&nbsp;организации бизнес-процессов и&nbsp;позиционирования компании в&nbsp;отрасли.
                    a(href='').b-main-screen__file
                        p Презентация SHEF technology
                        span Скачать, 540 кБ

                .b-main-screen__about-img
                    .b-main-screen__about-white
                    .b-main-screen__box-shadow
                    img(src='./images/about/img-about-1.png' alt='')



        .b-about.b-about--main
            .b-about__pepper-1
                .pepper.pepper-5.js-parallax-layer(data-parallax-deep="110")
                .pepper.pepper-4.parallax-6
                .salad.salad--md

            .container
                .b-main-screen__title
                    h2 Наши принципы

                .b-about__container
                    .b-about__block-relative.b-about__block-relative--1
                        .block-square.block-square--gradient
                        .block-square.block-square--gradient
                    .b-about-icons.js-about-last
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-1.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(-150deg); left: -30px; top: -10px;')
                            .b-about-icons__item-text Уникальность
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-2.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(-195deg); left: -10px; top: 0px;')
                            .b-about-icons__item-text Саморазвитие
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-3.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(5deg); left: -10px; top: -20px;')
                            .b-about-icons__item-text Любопытство
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-4.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(30deg); left: 10px; top: -20px;')
                            .b-about-icons__item-text Мотивация

                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-5.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(170deg); left: -15px; top: 0px;')
                            .b-about-icons__item-text Креативность
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-6.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(-150deg); left: -15px; top: -10px;')
                            .b-about-icons__item-text Опыт
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-7.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(20deg); left: -5px; top: -20px;')
                            .b-about-icons__item-text Порядочность
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-8.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(0deg); left: -5px; top: -10px;')
                            .b-about-icons__item-text Ответственность

                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-9.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(0deg); left: -15px; top: -20px;')
                            .b-about-icons__item-text Этичность
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-10.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(20deg); left: 0px; top: -13px;')
                            .b-about-icons__item-text Гуманизм


                .b-about__block-relative.b-about__block-relative--2
                    .leaves.leaves--1.parallax-6
                .b-about-left-text
                    p Это наши базовые принципы и фундамент для постоянного развития. Ежедневно внедряем настоящие инновации в пищевых ингредиентах. Как надоест – перестанем внедрять. (просто мы так любим свою работу, что такого дня не наступит никогда!)
                .b-about__block-relative.b-about__block-relative--3
                    .block-square.block-square--gradient
                .b-about-scope
                    .b-about-scope__img
                        .b-about-scope__img-wrap
                            .b-about-scope__shadow
                            .b-about-scope__img-bg
                            img(src='./images/about/img-about-2.png' alt='')

                    .b-about-scope__text
                        .b-main-screen__title
                            h2 Возможности
                        .b-about-scope__img
                            .b-about-scope__img-wrap
                                .b-about-scope__shadow
                                .b-about-scope__img-bg
                                img(src='./images/about/img-about-2-mobile.png' alt='')
                            .salad.salad--md
                        p В&nbsp;нашем распоряжении есть лаборатория, где опытные технологи разрабатывают и&nbsp;тестируют концепты, не&nbsp;имеющие аналогов на&nbsp;рынке. Благодаря нашим эксклюзивным партнерам мы&nbsp;имеем кратчайший дружеский доступ к&nbsp;мировым инновациям. Смешивая компоненты, не&nbsp;используемые другими и&nbsp;добавляя щепотку любопытства, мы&nbsp;создаем и&nbsp;адаптируем для Российского рынка инновационные ингредиенты. Именно так нами пишется будущее мясоперерабатывающей промышленности уже сегодня. Мировые премьеры рынка ингредиентов&nbsp;&mdash; уже у&nbsp;нас на&nbsp;складе!
                        p Коллектив &laquo;Шеф Технологий&raquo; состоит исключительно из&nbsp;неравнодушных профессионалов отрасли. Мы&nbsp;делаем ставку на&nbsp;опыт и&nbsp;знания! И&nbsp;мы&nbsp;гордимся что среди нас только специалисты высшего уровня, работающие на&nbsp;результат!

                .b-about__block-relative.b-about__block-relative--4
                    .salad.salad--md.parallax-1
                .b-about-work
                    .b-about-scope__text
                        .b-main-screen__title
                            h2 Работа с нами
                            h3 Открой новый уровень твоих профессиональных возможностей.
                        .b-about-scope__img
                            .b-about-scope__img-wrap
                                .b-about-scope__shadow
                                .b-about-scope__img-bg
                                img(src='./images/about/img-about-3.png' alt='')
                        p Мы&nbsp;всегда рады дать шанс амбициозному человеку проявить себя. Добро пожаловать в&nbsp;самый тёплый коллектив людей, получающих удовольствие от&nbsp;работы. Мы&nbsp;ценим мотивированных, неравнодушных людей, работающих на&nbsp;результат, которым не&nbsp;нужно ни&nbsp;с&nbsp;кем делиться. И&nbsp;да, мы&nbsp;платим за&nbsp;него выше рынка.
                        a(href='').button.button--about
                            span Наша команда

                    .b-about-scope__img
                        .b-about-scope__img-wrap
                            .b-about-scope__shadow
                            .b-about-scope__img-bg
                            img(src='./images/about/img-about-3.png' alt='')

                .b-about__block-relative.b-about__block-relative--5
                    .steak
                    .pepper.pepper-7.js-parallax-layer(data-parallax-deep="90")


                .b-about-two-text
                    .b-about-two-text__top
                        .b-about-two-text__title
                            i Шеф
                            span - Шеф , нужно ещё больше инноваций!
                    .b-about-two-text__row
                        h2 В погоне за формулой.
                    .b-about-two-text__row
                        .b-about-two-text__text Вы инженер, технолог или научный сотрудник, и стоите на пороге открытия? Так никто никогда не делал, но первые полученные результаты – многообещающие? Вы владеете патентом или свидетельством на полезную модель в области пищевых ингредиентов? У Вас есть прорывная идея, или ноу-хау?
                        .b-about-two-text__text
                            b SHEF technology
                            = ' '
                            |  – ваш короткий путь к получению материального результата от идеи. Международная команда специалистов сможет максимально эффективно реализовать и дать Вам на этом заработать не только в России, но и во всём мире!



                .b-about__block-relative.b-about__block-relative--6
                    .salad.salad--md.parallax-1

                .b-about__block-relative.b-about__block-relative--7
                    .block-square.block-square--gradient
                .b-about-history
                    .b-main-screen__title.b-main-screen__title--center
                        h2 Наша история

                    .b-about-history__progress.b-about-history__progress--1.js-about-last
                        .b-about-history__path
                        .b-about-history__item.b-about-history__item--1
                            .b-about-history__item-circle
                                img(src='./images/about/history-1.svg' alt='')
                            span 2008
                            .b-about-history__tooltip Подразделение немецкой компании RHB GMBH, специализирующееся на&nbsp;поставках трансглютаминазы и&nbsp;функциональных ингредиентов для мясопереработки, начинает выпуск собственных продуктов под торговой маркой SMART ingredients.

                        .b-about-history__item.b-about-history__item--2
                            .b-about-history__item-circle
                                img(src='./images/about/history-2.svg' alt='')
                            span 2011
                            .b-about-history__tooltip SMART ingredients открывает самостоятельный офис продаж, становится партнером Campus SpA, развивает новое направление бизнеса&nbsp;&mdash; разработку и&nbsp;реализацию ингредиентов для молочного производства.

                        .b-about-history__item.b-about-history__item--3
                            .b-about-history__item-circle
                                img(src='./images/about/history-3.svg' alt='')
                            span 2014
                            .b-about-history__tooltip Campus SpA начинает полномасштабное сотрудничество с&nbsp;Россией и&nbsp;странами СНГ по&nbsp;направлениям: мясопереработка и&nbsp;молочная промышленность.

                        .b-about-history__item.b-about-history__item--4
                            .b-about-history__item-circle
                                img(src='./images/about/history-4.svg' alt='')
                            span 2017
                            .b-about-history__tooltip Начинается активное сотрудничество с&nbsp;Erfolg Mischung (Россия), Meat&amp;Trade (Сербия) и&nbsp;Kinry food ingredients, inc.(Китай)

                        .b-about-history__item.b-about-history__item--5
                            .b-about-history__item-circle
                                img(src='./images/about/history-5.svg' alt='')
                            span 2018
                            .b-about-history__tooltip Для расширения присутствия на&nbsp;рынках России и&nbsp;СНГ создана SHEF technology&nbsp;&mdash; инновационная компания с&nbsp;участием корпорации STABIZYM (Германия).



                    .b-about-history__progress.b-about-history__progress--2
                        .b-about-history__path
                        .b-about-history__item.b-about-history__item--4
                            .b-about-history__item-circle
                                img(src='./images/about/history-4.svg' alt='')
                            span 2017
                            .b-about-history__tooltip Начинается активное сотрудничество с&nbsp;Erfolg Mischung (Россия), Meat&amp;Trade (Сербия) и&nbsp;Kinry food ingredients, inc.(Китай)

                        .b-about-history__item.b-about-history__item--5
                            .b-about-history__item-circle
                                img(src='./images/about/history-5.svg' alt='')
                            span 2018
                            .b-about-history__tooltip Для расширения присутствия на&nbsp;рынках России и&nbsp;СНГ создана SHEF technology&nbsp;&mdash; инновационная компания с&nbsp;участием корпорации STABIZYM (Германия).

                .b-about__block-relative.b-about__block-relative--8
                    .block-square.block-square--gradient
                    .pepper.pepper-5.js-parallax-layer(data-parallax-deep="90")

                .b-about-diag
                    .b-main-screen__title
                        h2 Направления деятельности
                    .b-about-diag__container
                        .b-about-diag__lines
                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Функциональные продукты
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--2
                                    .b-about-diag__lines-number 38%

                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Ферментые продукты
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--1
                                    .b-about-diag__lines-number 30%

                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Расолы
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--3
                                    .b-about-diag__lines-number 20%

                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Молочне интгредиенты
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--4
                                    .b-about-diag__lines-number 8%

                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Специи
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--5
                                    .b-about-diag__lines-number 3%

                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Прочие продукты
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--6
                                    .b-about-diag__lines-number 1%


                        .b-about-diag__left
                            .b-about-diag__halfs
                                .b-about-diag__lg
                                    .b-about-diag__circle
                                    .b-about-diag__gr.b-about-diag__gr--0
                                    .b-about-diag__gr.b-about-diag__gr--1(data-gr='1')
                                    .b-about-diag__gr.b-about-diag__gr--2(data-gr='2')
                                    .b-about-diag__gr.b-about-diag__gr--3(data-gr='3')
                                    .b-about-diag__gr.b-about-diag__gr--4(data-gr='4')
                                    .b-about-diag__gr.b-about-diag__gr--5(data-gr='5')
                                    .b-about-diag__gr.b-about-diag__gr--6(data-gr='6')

                                    .b-about-diag__icon.b-about-diag__icon--1(data-gr='5')
                                        span 20%
                                        .b-about-history__tooltip
                                            b Рассольные системы
                                            = ' '
                                            | &mdash;&nbsp;результаты, о&nbsp;которых&nbsp;Вы не&nbsp;знали раньше. Выход и&nbsp;качество, удивляющий даже опытных технологов. Вы&nbsp;будете несколько раз перепроверять результат, так как поверить в&nbsp;это сразу невозможно.
                                    .b-about-diag__icon.b-about-diag__icon--2(data-gr='4')
                                        span 8%
                                        .b-about-history__tooltip
                                            b Молочная промышленность
                                            = ' '
                                            | &mdash;&nbsp;натуральный выход творога и&nbsp;полная безопасность в&nbsp;применении благодаря жидкой форме нашего ферментного препарата. Стабильность качества в&nbsp;высокой технологии&nbsp;&mdash; продукт устойчив к&nbsp;температуре, кислороду, заморозке, а&nbsp;теперь и&nbsp;в&nbsp;упаковке, устойчивой к&nbsp;солнечному свету.
                                    .b-about-diag__icon.b-about-diag__icon--3(data-gr='3')
                                        span 3%
                                        .b-about-history__tooltip
                                            b Специи
                                            = ' '
                                            | &mdash;&nbsp;яркие и&nbsp;привычные нам премиальные и&nbsp;стабильные вкусы из&nbsp;Узбекистана, страны шелкового пути, знающего специи тысячи лет.
                                    .b-about-diag__icon.b-about-diag__icon--4(data-gr='2')
                                        span 1%
                                        .b-about-history__tooltip
                                            b Прочие продукты
                                    .b-about-diag__icon.b-about-diag__icon--5(data-gr='1')
                                        span 30%
                                        .b-about-history__tooltip
                                            b Ферментные препараты
                                            = ' '
                                            | &mdash;&nbsp;лидеры рынка по&nbsp;функциональности и&nbsp;стабильности качества. Инновационные стабильные к&nbsp;температуре и&nbsp;кислороду ферменты.
                                    .b-about-diag__icon.b-about-diag__icon--7(data-gr='6')
                                        span 38%
                                        .b-about-history__tooltip
                                            b Функциональные ингредиенты
                                            = ' '
                                            | &mdash;&nbsp;замена любых комплексных смесей, в&nbsp;том числе с&nbsp;индексом Е&nbsp;&mdash; чистый вкус и&nbsp;чистая этикетка за&nbsp;те&nbsp;же деньги.



                        .b-about-diag__salad
                            .salad.salad--sm
                            .salad.salad--sm
                        .b-about-diag__right

                            .b-about-diag__md
                                .b-about-diag__md-icon
                                .b-about-diag__md-text По отрасли
                                .b-about-diag__icon.b-about-diag__icon--6
                                    span Молоко ( 8% )
                                .b-about-diag__icon.b-about-diag__icon--8
                                    span Мясо ( 92% )



        .b-about__block-relative.b-about__block-relative--9
            .salad.salad--sm.parallax-1
            .pepper.pepper-3.js-parallax-layer(data-parallax-deep="90")
        .b-about-offer
                .b-main-screen__gradient
                .b-main-screen__lines
                    .container
                        .b-main-screen__lines-item
                        .b-main-screen__lines-item
                        .b-main-screen__lines-item
                        .b-main-screen__lines-item
                        .b-main-screen__lines-item
                        .b-main-screen__lines-item
                .b-about
                    .container
                        .b-about__block-relative.b-about__block-relative--10
                            .block-square
                            .block-square
                            .block-square
                        .b-main-screen__title
                            h2 Мы можем предложить
                        .b-about-offer__block
                            .b-about-offer__title Мясо переработка
                            .b-about-offer__list.js-about-last
                                .b-about-offer__item
                                    img(src='./images/about/sentence-1.svg' alt='')
                                    p Замена соевого изолята без увеличения себестоимости продукта;
                                .b-about-offer__item
                                    img(src='./images/about/sentence-4.svg' alt='')
                                    p Натуральный цвет мясопродуктов, в том числе сыровяленых и сырокопченых продуктов – без использования красителей;

                                .b-about-offer__item
                                    img(src='./images/about/sentence-2.svg' alt='')
                                    p Максимальный выход качественных варено-копченых, запечаных и других деликатесов с лучшим срезом;
                                .b-about-offer__item
                                    img(src='./images/about/sentence-5.svg' alt='')
                                    p Легальные консерванты и антиокислители – не содержащие бензоатов;

                                .b-about-offer__item
                                    img(src='./images/about/sentence-3.svg' alt='')
                                    p Стабильность качества;
                                .b-about-offer__item
                                    img(src='./images/about/sentence-6.svg' alt='')
                                    p Инновационная растительная клетчатка – больше нет синерзиса в упаковке.

                        .b-about-offer__block
                            .b-about-offer__title Молочная промышленность
                            .b-about-offer__list.js-about-last
                                .b-about-offer__item
                                    img(src='./images/about/sentence-7.svg' alt='')
                                    p Увеличение выхода
                                .b-about-offer__item
                                    img(src='./images/about/sentence-10.svg' alt='')
                                    p Нежная структура

                                .b-about-offer__item
                                    img(src='./images/about/sentence-8.svg' alt='')
                                    p Снижение себестоимости
                                .b-about-offer__item
                                    img(src='./images/about/sentence-11.svg' alt='')
                                    p Натуральность

                                .b-about-offer__item
                                    img(src='./images/about/sentence-9.svg' alt='')
                                    p Красивое зерно
                                .b-about-offer__item
                                    img(src='./images/about/sentence-12.svg' alt='')
                                    p Легкость использования







