extends _layout

block title
    title Представители
block content
    .page.js-parallax
        .b-main-screen.b-main-screen--first.b-main-screen--layout.b-main-screen--contacts
            .b-main-screen__gradient
            .b-main-screen__lines
            .container
                .salad.salad--lg.parallax-1
                .salad.salad--md.parallax-3
                .salad.salad--sm

                .pepper.pepper-1.parallax-6
                .pepper.pepper-2.js-parallax-layer(data-parallax-deep="70")

        .b-main-screen.b-main-screen--first.b-main-screen--layout
            .container
                +scr-sh

        .b-pattern.b-pattern--contacts
            .b-pattern__container
                .b-pattern__title.b-pattern__title--center.b-pattern__title--contacts
                    h1 Представители
                    p На&nbsp;сегодняшний день продукция
                        = ' '
                        b SHEF technology
                        = ' '
                        | широко представлена в&nbsp;России, Киргизии, Беларуси и&nbsp;Украине. В&nbsp;РФ&nbsp;нас можно найти&nbsp;в:

                .b-pattern__content
                    .b-map
                        .b-map__map.js-mobile-img.b-map__map--mobile
                            img(src='./images/map/map-pin.png')
                        .b-map__map.js-desktop-img
                            .map-dot.map-dot--msk(data-city='msk')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Москва
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') msk@shef.tech
                            .map-dot.map-dot--sntp(data-city='sntp')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Санкт-Петербург
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') piter@shef.tech
                            .map-dot.map-dot--chel(data-city='chel')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Челябинск
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') chelyabensk@shef.tech
                            .map-dot.map-dot--brn(data-city='brn')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Барнаул
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') barnaul@shef.tech
                            .map-dot.map-dot--ishev(data-city='ishev')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Ижевск
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') ijevsk@shef.tech
                            .map-dot.map-dot--krsn(data-city='krsn')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Красноярск
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') krasnoyarsk@shef.tech
                            .map-dot.map-dot--nsk(data-city='nsk')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Новосибирск
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') nsk@shef.tech

                            .map-dot.map-dot--smol(data-city='smol')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Смоленск
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') smolensk@shef.tech

                            .map-dot.map-dot--vladivostok(data-city='vladivostok')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Владивосток
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') vladivostok@shef.tech

                            .map-dot.map-dot--samar(data-city='samar')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Самара
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') samara@shef.tech

                            .map-dot.map-dot--vladimir(data-city='vladimir')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Владимир
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') vladimir@shef.tech

                            .map-dot.map-dot--kalin(data-city='kalin')
                                .map-pin
                                .map-tooltip
                                    .map-tooltip__title Калининград
                                    .map-tooltip__list
                                        p
                                            span Адрес:
                                            span Ленинский проспект, 111/1
                                        p
                                            span Тел:
                                            span
                                                a(href='tel:') +7 (926) 303-28-74
                                        p
                                            span E-mail:
                                            span
                                                a(href='mailto:') kaliningrad@shef.tech


                            img(src='./images/map/map.png')
                        .b-map__pepper
                            .pepper.pepper-3.js-parallax-layer(data-parallax-deep="70")
                            .pepper.pepper-4.js-parallax-layer(data-parallax-deep="220")
                            .pepper.pepper-5.parallax-6
                            .salad.salad--md-con

                        .b-map__list
                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='msk')
                                    .b-map__item__block
                                    .b-map__item-city Москва
                                    .b-map__item-email
                                        b E-mail:
                                        | msk@shef.tech
                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='sntp')
                                    .b-map__item__block
                                    .b-map__item-city Санкт-Петербург
                                    .b-map__item-email
                                        b E-mail:
                                        | piter@shef.tech
                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='chel')
                                    .b-map__item__block
                                    .b-map__item-city Челябинск
                                    .b-map__item-email
                                        b E-mail:
                                        | chelyabensk@shef.tech

                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='brn')
                                    .b-map__item__block
                                    .b-map__item-city Барнаул
                                    .b-map__item-email
                                        b E-mail:
                                        | barnaul@shef.tech
                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='ishev')
                                    .b-map__item__block
                                    .b-map__item-city Ижевск
                                    .b-map__item-email
                                        b E-mail:
                                        | ijevsk@shef.tech
                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='krsn')
                                    .b-map__item__block
                                    .b-map__item-city Красноярск
                                    .b-map__item-email
                                        b E-mail:
                                        | krasnoyarsk@shef.tech

                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='nsk')
                                    .b-map__item__block
                                    .b-map__item-city Новосибирск
                                    .b-map__item-email
                                        b E-mail:
                                        | nsk@shef.tech
                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='smol')
                                    .b-map__item__block
                                    .b-map__item-city Смоленск
                                    .b-map__item-email
                                        b E-mail:
                                        | smolensk@shef.tech
                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='vladivostok')
                                    .b-map__item__block
                                    .b-map__item-city Владивосток
                                    .b-map__item-email
                                        b E-mail:
                                        | vladivostok@shef.tech


                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='samar')
                                    .b-map__item__block
                                    .b-map__item-city Самара
                                    .b-map__item-email
                                        b E-mail:
                                        | samara@shef.tech
                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='vladimir')
                                    .b-map__item__block
                                    .b-map__item-city Владимир
                                    .b-map__item-email
                                        b E-mail:
                                        | vladimir@shef.tech
                            .b-map__item
                                .b-map__item-wrap.js-hover-city(data-city='kalin')
                                    .b-map__item__block
                                    .b-map__item-city Калининград
                                    .b-map__item-email
                                        b E-mail:
                                        | kaliningrad@shef.tech











