extends _layout-footer-gradient

block title
    title Новости
block content
    .page.js-parallax
        .b-main-screen.b-main-screen--first.b-main-screen--layout.b-main-screen--news
            .b-main-screen__gradient
            .b-main-screen__lines
            .container
                .salad.salad--lg.parallax-1
                .salad.salad--md.parallax-3
                .salad.salad--sm

                .pepper.pepper-1.parallax-1
                .pepper.pepper-2.js-parallax-layer(data-parallax-deep="50")
                .pepper.pepper-3.js-parallax-layer(data-parallax-deep="100")
                //.pepper.pepper-4 тут нет
                +scr-sh


        .b-pattern.b-pattern--news
            .b-pattern__container
                .b-pattern__title
                    h1 Новости

                .b-pattern__content
                    .b-news
                        a(href='').b-news__item.b-news__item--full
                            .b-news__item-date 14 февраля 2020
                            .b-news__item-img
                                img(src='./images/news/1@2x.jpg' alt='')
                            .b-news__item-text
                                .b-news__item-title Lorem Ipsum - это текст-"рыба", часто вэб-дизайне.
                                .b-news__item-desc Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал.
                        a(href='').b-news__item
                            .b-news__item-date 14 февраля 2020
                            .b-news__item-img
                                img(src='./images/news/2@2x.jpg' alt='')
                            .b-news__item-text
                                .b-news__item-title Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                .b-news__item-desc Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                                    br
                                    | …


                        a(href='').b-news__item
                            .b-news__item-date 14 февраля 2020
                            .b-news__item-img
                                img(src='./images/news/3@2x.jpg' alt='')
                            .b-news__item-text
                                .b-news__item-title Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                .b-news__item-desc Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                                    br
                                    | …
                            .b-news__item-block.b-news__item-block--bottom
                                .block-square.block-square--gradient

                        a(href='').b-news__item
                            .b-news__item-date 14 февраля 2020
                            .b-news__item-img
                                img(src='./images/news/4@2x.jpg' alt='')
                            .b-news__item-text
                                .b-news__item-title Lorem Ipsum - это текст-"рыба", часто вэб-дизайне.
                                .b-news__item-desc Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал.

                        a(href='').b-news__item
                            .b-news__item-date 14 февраля 2020
                            .b-news__item-img
                                img(src='./images/news/5@2x.jpg' alt='')
                            .b-news__item-text
                                .b-news__item-title Lorem Ipsum - это текст-"рыба", часто вэб-дизайне.
                                .b-news__item-desc Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал.
                            .b-news__item-block.b-news__item-block--right
                                .pepper.pepper-5.js-parallax-layer(data-parallax-deep="100")


                        a(href='').b-news__item
                            .b-news__item-date 14 февраля 2020
                            .b-news__item-img
                                img(src='./images/news/3@2x.jpg' alt='')
                            .b-news__item-text
                                .b-news__item-title Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                .b-news__item-desc Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                                    br
                                    | …
                            .b-news__item-block.b-news__item-block--left
                                .pepper.pepper-4.js-parallax-layer(data-parallax-deep="50")

                        a(href='').b-news__item
                            .b-news__item-date 14 февраля 2020
                            .b-news__item-img
                                img(src='./images/news/4@2x.jpg' alt='')
                            .b-news__item-text
                                .b-news__item-title Lorem Ipsum - это текст-"рыба", часто вэб-дизайне.
                                .b-news__item-desc Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал.

                        a(href='').b-news__item
                            .b-news__item-date 14 февраля 2020
                            .b-news__item-img
                                img(src='./images/news/5@2x.jpg' alt='')
                            .b-news__item-text
                                .b-news__item-title Lorem Ipsum - это текст-"рыба", часто вэб-дизайне.
                                .b-news__item-desc Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал.
                            .b-news__item-block.b-news__item-block--top
                                .block-square.block-square--gradient



                    .b-news__control
                        .button.button--down
                            span Показать еще









