extends _layout-footer-team

block title
    title Сотрудники
block content
    .page.js-parallax
        .b-main-screen.b-main-screen--first.b-main-screen--layout.b-main-screen--team
            .b-main-screen__gradient
            .b-main-screen__lines
            .container
                .salad.salad--lg.parallax-1
                .salad.salad--md.parallax-3
                .salad.salad--sm

                .pepper.pepper-1.parallax-6
                .pepper.pepper-2.js-parallax-layer(data-parallax-deep="70")
                .pepper.pepper-3.js-parallax-layer(data-parallax-deep="90")
                .pepper.pepper-4.js-parallax-layer(data-parallax-deep="110")
                +scr-sh


        .b-pattern.b-pattern--team
            .b-pattern__container
                .b-pattern__title
                    h1 Сотрудники
                    p В&nbsp;штате
                        = ' '
                        b SHEF technology
                        = ' '
                        | нет случайных лиц. У&nbsp;нас работают суперпрофессионалы&nbsp;&mdash; настоящие энтузиасты пищевых инноваций. Мы&nbsp;здесь все немного
                        = ' '
                        b crazy
                        = ' '
                        | &mdash; одержимы идеей добиваться идеальных вкусовых качеств за&nbsp;адекватные деньги и&nbsp;без вреда для здоровья.

                .b-pattern__content
                    .b-team
                        .b-team__item.poster-3d
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/1@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Дмитрий Шефов
                                .b-team__item-position Директор
                        .b-team__item.poster-3d
                            .pepper.pepper-3
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/2@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Елена Карлова
                                .b-team__item-position Главный технолог
                        .b-team__item.poster-3d
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/3@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Долорес Бурулова
                                .b-team__item-position Директор по развитию бизнеса

                        .b-team__item.poster-3d
                            .pepper.pepper-2.parallax-6
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/4@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Дмитрий Дронин
                                .b-team__item-position Региональный директор
                        .b-team__item.poster-3d
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/5@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Александр Балашов
                                .b-team__item-position Руководитель направления SHEF Lab
                        .b-team__item.poster-3d
                            .pepper.pepper-4.parallax-6
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/6@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Михаил Ворона
                                .b-team__item-position Руководитель направления SHEF Lab
                    .b-team__blocks
                        .block-square.block-square--gradient
                        .block-square.block-square--gradient
                        //.pepper.pepper-2
                        .pepper.pepper-3.js-parallax-layer(data-parallax-deep="70")
                        .pepper.pepper-4.parallax-6
                        .pepper.pepper-5.js-parallax-layer(data-parallax-deep="130")









