extends _layout

block title
    title About
block content
    .page.js-parallax
        .b-main-screen.b-main-screen--first.b-main-screen--about-page
            .b-main-screen__gradient
            .b-main-screen__lines
            .container
                +scr-sh
                .salad.salad--lg.parallax-1
                .salad.salad--md.parallax-3
                .salad.salad--sm

                .pepper.pepper-1.parallax-6
                .pepper.pepper-2.js-parallax-layer(data-parallax-deep="90")
                .pepper.pepper-3.js-parallax-layer(data-parallax-deep="110")

                .b-main-screen__title
                    h1 About
                    p Bravely change your ideas about technologies in the field of meat processing and dairy production! And we,
                        = ' '
                        b SHEF technology
                        | , are pleased to. We will help you with this!
                    .b-main-screen__mobile-img
                        .salad.salad--md
                        img(src='./images/about/img-about-1.png' alt='')
                    span SHEF Technologies is a young and probably the most progressive innovator in the market of functional ingredients and spices for meat processing and dairy products. We preach a philosophy of uniqueness in everything - from the ingredients that we offer to the market, to the organization of business processes and company positioning in the industry.

                    a(href='').b-main-screen__file
                        p SHEF technology presentation
                        span Download, 540 кБ

                .b-main-screen__about-img
                    .b-main-screen__about-white
                    .b-main-screen__box-shadow
                    img(src='./images/about/img-about-1.png' alt='')



        .b-about.b-about--main
            .b-about__pepper-1
                .pepper.pepper-5.js-parallax-layer(data-parallax-deep="110")
                .pepper.pepper-4.parallax-6
                .salad.salad--md

            .container
                .b-main-screen__title
                    h2 Our principles

                .b-about__container
                    .b-about__block-relative.b-about__block-relative--1
                        .block-square.block-square--gradient
                        .block-square.block-square--gradient
                    .b-about-icons.js-about-last
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-1.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(-150deg); left: -30px; top: -10px;')
                            .b-about-icons__item-text Uniqueness
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-2.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(-195deg); left: -10px; top: 0px;')
                            .b-about-icons__item-text Self development
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-3.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(5deg); left: -10px; top: -20px;')
                            .b-about-icons__item-text Curiosity
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-4.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(30deg); left: 10px; top: -20px;')
                            .b-about-icons__item-text Motivation

                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-5.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(170deg); left: -15px; top: 0px;')
                            .b-about-icons__item-text Creativity
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-6.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(-150deg); left: -15px; top: -10px;')
                            .b-about-icons__item-text Experience
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-7.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(20deg); left: -5px; top: -20px;')
                            .b-about-icons__item-text Decency
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-8.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(0deg); left: -5px; top: -10px;')
                            .b-about-icons__item-text Responsibility

                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-9.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(0deg); left: -15px; top: -20px;')
                            .b-about-icons__item-text Ethics
                        .b-about-icons__item
                            .b-about-icons__item-ico
                                img(src='./images/about/about-10.svg' alt='')
                                img(src='./images/about/triangle.svg' alt='' style='transform: rotate(20deg); left: 0px; top: -13px;')
                            .b-about-icons__item-text Humanism


                .b-about__block-relative.b-about__block-relative--2
                    .leaves.leaves--1.parallax-6
                .b-about-left-text
                    p These are our basic principles and the foundation for continuous development. Introducing true innovation in food ingredients every day. If you get tired, we’ll stop introducing it. (we just love our work so much that such a day will never come!)
                .b-about__block-relative.b-about__block-relative--3
                    .block-square.block-square--gradient
                .b-about-scope
                    .b-about-scope__img
                        .b-about-scope__img-wrap
                            .b-about-scope__shadow
                            .b-about-scope__img-bg
                            img(src='./images/about/img-about-2.png' alt='')

                    .b-about-scope__text
                        .b-main-screen__title
                            h2 Opportunities
                        .b-about-scope__img
                            .b-about-scope__img-wrap
                                .b-about-scope__shadow
                                .b-about-scope__img-bg
                                img(src='./images/about/img-about-2-mobile.png' alt='')
                            .salad.salad--md
                        p We have a laboratory at our disposal, where experienced technologists develop and test concepts that have no analogues оn the market. Thanks to our exclusive partners, we have the shortest friendly access to global innovation. By mixing components not used by others and adding a pinch of curiosity, we create and adapt innovative ingredients for the Russian market. This is how we write the future of the meat processing industry today. World premieres of the ingredients market - already in stock!
                        p The team of "Chef of Technologies" consists exclusively from caring industry professionals. We rely on experience and knowledge! And we are proud that among us there are only top-level specialists working for the result!

                .b-about__block-relative.b-about__block-relative--4
                    .salad.salad--md.parallax-1
                .b-about-work
                    .b-about-scope__text
                        .b-main-screen__title
                            h2 Work with us
                            h3 Discover a new level of your professional opportunities.
                        .b-about-scope__img
                            .b-about-scope__img-wrap
                                .b-about-scope__shadow
                                .b-about-scope__img-bg
                                img(src='./images/about/img-about-3.png' alt='')
                        p We are always happy to give an opportunity to an ambitious person to prove himself. Welcome to the warmest team of people who enjoy working. We value motivated, caring people working on a result that you don’t need to share with anyone. And yes, we pay for it above the market.
                        a(href='').button.button--about
                            span Our team

                    .b-about-scope__img
                        .b-about-scope__img-wrap
                            .b-about-scope__shadow
                            .b-about-scope__img-bg
                            img(src='./images/about/img-about-3.png' alt='')

                .b-about__block-relative.b-about__block-relative--5
                    .steak
                    .pepper.pepper-7.js-parallax-layer(data-parallax-deep="90")


                .b-about-two-text
                    .b-about-two-text__top
                        .b-about-two-text__title
                            i Chef
                            span - Chef , you need more innovation!
                    .b-about-two-text__row
                        h2 In pursuit of the formula.
                    .b-about-two-text__row
                        .b-about-two-text__text Are you an engineer, technologist or researcher and are on the verge of discovery? So no one has ever done, but the first results are promising? Do you own a patent or utility model certificate for food ingredients? Do you have a breakthrough idea, or know-how?
                        .b-about-two-text__text
                            b SHEF technology
                            = ' '
                            |  is your short way to get a tangible result from an idea. An international team of specialists will be able to implement it as efficiently as possible and give you money to earn money not only in Russia but throughout the world!



                .b-about__block-relative.b-about__block-relative--6
                    .salad.salad--md.parallax-1

                .b-about__block-relative.b-about__block-relative--7
                    .block-square.block-square--gradient
                .b-about-history
                    .b-main-screen__title.b-main-screen__title--center
                        h2 Our History

                    .b-about-history__progress.b-about-history__progress--1.js-about-last
                        .b-about-history__path
                        .b-about-history__item.b-about-history__item--1
                            .b-about-history__item-circle
                                img(src='./images/about/history-1.svg' alt='')
                            span 2008
                            .b-about-history__tooltip RHB GMBH (Germany) specializing in the supply of transglutaminase and functional ingredients for meat processing under the brand name SMART ingredients

                        .b-about-history__item.b-about-history__item--2
                            .b-about-history__item-circle
                                img(src='./images/about/history-2.svg' alt='')
                            span 2011
                            .b-about-history__tooltip SMART ingredients открывает самостоятельный офис продаж, становится партнером Campus SpA, развивает новое направление бизнеса&nbsp;&mdash; разработку и&nbsp;реализацию ингредиентов для молочного производства.

                        .b-about-history__item.b-about-history__item--3
                            .b-about-history__item-circle
                                img(src='./images/about/history-3.svg' alt='')
                            span 2014
                            .b-about-history__tooltip Campus SpA начинает полномасштабное сотрудничество с&nbsp;Россией и&nbsp;странами СНГ по&nbsp;направлениям: мясопереработка и&nbsp;молочная промышленность.

                        .b-about-history__item.b-about-history__item--4
                            .b-about-history__item-circle
                                img(src='./images/about/history-4.svg' alt='')
                            span 2017
                            .b-about-history__tooltip Начинается активное сотрудничество с&nbsp;Erfolg Mischung (Россия), Meat&amp;Trade (Сербия) и&nbsp;Kinry food ingredients, inc.(Китай)

                        .b-about-history__item.b-about-history__item--5
                            .b-about-history__item-circle
                                img(src='./images/about/history-5.svg' alt='')
                            span 2018
                            .b-about-history__tooltip Для расширения присутствия на&nbsp;рынках России и&nbsp;СНГ создана SHEF technology&nbsp;&mdash; инновационная компания с&nbsp;участием корпорации STABIZYM (Германия).



                    .b-about-history__progress.b-about-history__progress--2
                        .b-about-history__path
                        .b-about-history__item.b-about-history__item--4
                            .b-about-history__item-circle
                                img(src='./images/about/history-4.svg' alt='')
                            span 2017
                            .b-about-history__tooltip Начинается активное сотрудничество с&nbsp;Erfolg Mischung (Россия), Meat&amp;Trade (Сербия) и&nbsp;Kinry food ingredients, inc.(Китай)

                        .b-about-history__item.b-about-history__item--5
                            .b-about-history__item-circle
                                img(src='./images/about/history-5.svg' alt='')
                            span 2018
                            .b-about-history__tooltip Для расширения присутствия на&nbsp;рынках России и&nbsp;СНГ создана SHEF technology&nbsp;&mdash; инновационная компания с&nbsp;участием корпорации STABIZYM (Германия).

                .b-about__block-relative.b-about__block-relative--8
                    .block-square.block-square--gradient
                    .pepper.pepper-5.js-parallax-layer(data-parallax-deep="90")

                .b-about-diag
                    .b-main-screen__title
                        h2 Activities
                    .b-about-diag__container
                        .b-about-diag__lines
                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Функциональные продукты
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--2
                                    .b-about-diag__lines-number 38%

                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Ферментые продукты
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--1
                                    .b-about-diag__lines-number 30%

                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Расолы
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--3
                                    .b-about-diag__lines-number 20%

                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Молочне интгредиенты
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--4
                                    .b-about-diag__lines-number 8%

                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Специи
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--5
                                    .b-about-diag__lines-number 3%

                            .b-about-diag__lines-item
                                .b-about-diag__lines-name Прочие продукты
                                .b-about-diag__lines-progress
                                    .b-about-diag__lines-line.b-about-diag__lines-line--6
                                    .b-about-diag__lines-number 1%


                        .b-about-diag__left
                            .b-about-diag__halfs
                                .b-about-diag__lg
                                    .b-about-diag__circle
                                    .b-about-diag__gr.b-about-diag__gr--0
                                    .b-about-diag__gr.b-about-diag__gr--1(data-gr='1')
                                    .b-about-diag__gr.b-about-diag__gr--2(data-gr='2')
                                    .b-about-diag__gr.b-about-diag__gr--3(data-gr='3')
                                    .b-about-diag__gr.b-about-diag__gr--4(data-gr='4')
                                    .b-about-diag__gr.b-about-diag__gr--5(data-gr='5')
                                    .b-about-diag__gr.b-about-diag__gr--6(data-gr='6')

                                    .b-about-diag__icon.b-about-diag__icon--1(data-gr='5')
                                        span 20%
                                        .b-about-history__tooltip
                                            b Рассольные системы
                                            = ' '
                                            | &mdash;&nbsp;результаты, о&nbsp;которых&nbsp;Вы не&nbsp;знали раньше. Выход и&nbsp;качество, удивляющий даже опытных технологов. Вы&nbsp;будете несколько раз перепроверять результат, так как поверить в&nbsp;это сразу невозможно.
                                    .b-about-diag__icon.b-about-diag__icon--2(data-gr='4')
                                        span 8%
                                        .b-about-history__tooltip
                                            b Молочная промышленность
                                            = ' '
                                            | &mdash;&nbsp;натуральный выход творога и&nbsp;полная безопасность в&nbsp;применении благодаря жидкой форме нашего ферментного препарата. Стабильность качества в&nbsp;высокой технологии&nbsp;&mdash; продукт устойчив к&nbsp;температуре, кислороду, заморозке, а&nbsp;теперь и&nbsp;в&nbsp;упаковке, устойчивой к&nbsp;солнечному свету.
                                    .b-about-diag__icon.b-about-diag__icon--3(data-gr='3')
                                        span 3%
                                        .b-about-history__tooltip
                                            b Специи
                                            = ' '
                                            | &mdash;&nbsp;яркие и&nbsp;привычные нам премиальные и&nbsp;стабильные вкусы из&nbsp;Узбекистана, страны шелкового пути, знающего специи тысячи лет.
                                    .b-about-diag__icon.b-about-diag__icon--4(data-gr='2')
                                        span 1%
                                        .b-about-history__tooltip
                                            b Прочие продукты
                                    .b-about-diag__icon.b-about-diag__icon--5(data-gr='1')
                                        span 30%
                                        .b-about-history__tooltip
                                            b Ферментные препараты
                                            = ' '
                                            | &mdash;&nbsp;лидеры рынка по&nbsp;функциональности и&nbsp;стабильности качества. Инновационные стабильные к&nbsp;температуре и&nbsp;кислороду ферменты.
                                    .b-about-diag__icon.b-about-diag__icon--7(data-gr='6')
                                        span 38%
                                        .b-about-history__tooltip
                                            b Функциональные ингредиенты
                                            = ' '
                                            | &mdash;&nbsp;замена любых комплексных смесей, в&nbsp;том числе с&nbsp;индексом Е&nbsp;&mdash; чистый вкус и&nbsp;чистая этикетка за&nbsp;те&nbsp;же деньги.



                        .b-about-diag__salad
                            .salad.salad--sm
                            .salad.salad--sm
                        .b-about-diag__right

                            .b-about-diag__md
                                .b-about-diag__md-icon
                                .b-about-diag__md-text По отрасли
                                .b-about-diag__icon.b-about-diag__icon--6
                                    span Молоко ( 8% )
                                .b-about-diag__icon.b-about-diag__icon--8
                                    span Мясо ( 92% )



        .b-about__block-relative.b-about__block-relative--9
            .salad.salad--sm.parallax-1
            .pepper.pepper-3.js-parallax-layer(data-parallax-deep="90")
        .b-about-offer
                .b-main-screen__gradient
                .b-main-screen__lines
                    .container
                        .b-main-screen__lines-item
                        .b-main-screen__lines-item
                        .b-main-screen__lines-item
                        .b-main-screen__lines-item
                        .b-main-screen__lines-item
                        .b-main-screen__lines-item
                .b-about
                    .container
                        .b-about__block-relative.b-about__block-relative--10
                            .block-square
                            .block-square
                            .block-square
                        .b-main-screen__title
                            h2 We can offer
                        .b-about-offer__block
                            .b-about-offer__title Meat processing
                            .b-about-offer__list.js-about-last
                                .b-about-offer__item
                                    img(src='./images/about/sentence-1.svg' alt='')
                                    p Replacing soy isolate without increasing the cost of the product;
                                .b-about-offer__item
                                    img(src='./images/about/sentence-4.svg' alt='')
                                    p Natural color of meat products, including dried and smoked products - without the use of dyes;

                                .b-about-offer__item
                                    img(src='./images/about/sentence-2.svg' alt='')
                                    p The maximum yield of high-quality cooked-smoked, baked and other delicacies with the best cut;
                                .b-about-offer__item
                                    img(src='./images/about/sentence-5.svg' alt='')
                                    p Legal preservatives and antioxidants - not containing benzoates;

                                .b-about-offer__item
                                    img(src='./images/about/sentence-3.svg' alt='')
                                    p Quality stability;
                                .b-about-offer__item
                                    img(src='./images/about/sentence-6.svg' alt='')
                                    p Innovative Fiber - No more synergies in the package.

                        .b-about-offer__block
                            .b-about-offer__title Dairy industry
                            .b-about-offer__list.js-about-last
                                .b-about-offer__item
                                    img(src='./images/about/sentence-7.svg' alt='')
                                    p Output increase
                                .b-about-offer__item
                                    img(src='./images/about/sentence-10.svg' alt='')
                                    p Delicate structure

                                .b-about-offer__item
                                    img(src='./images/about/sentence-8.svg' alt='')
                                    p Cost reduction
                                .b-about-offer__item
                                    img(src='./images/about/sentence-11.svg' alt='')
                                    p Naturalness

                                .b-about-offer__item
                                    img(src='./images/about/sentence-9.svg' alt='')
                                    p Beautiful grain
                                .b-about-offer__item
                                    img(src='./images/about/sentence-12.svg' alt='')
                                    p Ease of use







