extends _layout

block title
    title Главная страница
block content
    .page.js-parallax
        .b-main-screen.b-main-screen--first
            .b-main-screen__gradient
            .b-main-screen__lines
            .container
                .salad.salad--lg.parallax-1
                .salad.salad--md.parallax-4
                .salad.salad--sm

                .pepper.pepper-1.parallax-2
                .pepper.pepper-2.js-parallax-layer(data-parallax-deep="250")
                .pepper.pepper-3.js-parallax-layer(data-parallax-deep="50")
                .pepper.pepper-4.parallax-3

                .b-main-screen__mask
                    .b-main-screen__mask-circle
                    .b-main-screen__mask-img.b-main-screen__mask-img--under
                        video(preload="auto" autoplay="true" loop="true" muted="muted" playsinline)
                            source(src='./video/video.mp4' type="video/mp4")
                            source(src='./video/video.webm' type="video/webm")


                .b-main-screen__sign Ingredients like
                    span art

                +scr-sh

        .b-main-screen.b-main-screen--about
            .container
                .salad.salad--md.salad--md-2
                .pepper.pepper-5.parallax-1
                .pepper.pepper-2.parallax-2
                .leaves.parallax-4

                .b-main-screen__title
                    h2 About
                    p SHEF Technologies is a young and probably the most progressive innovator in the market of functional ingredients and spices for meat processing and dairy products. We preach a philosophy of uniqueness in everything - from the ingredients that we offer to the market, to the organization of business processes and the company's positioning in the industry.

                .b-main-screen__info
                    .b-main-screen__info-item.b-main-screen__info-item--img
                        img(src='./images/img-1.jpg' alt='')
                    .b-main-screen__info-item.b-main-screen__info-item--img
                        img(src='./images/img-2.jpg' alt='')
                    .b-main-screen__info-item.b-main-screen__info-item--quote
                        p We are all doomed to eat thrice a day until the end of life.
                        p So let's choose something that is tasty, nutritious and enjoyable.
                        h3 Jamie Oliver
                    .b-main-screen__info-block.b-main-screen__info-block--top
                    .b-main-screen__info-block.b-main-screen__info-block--bottom


                .b-main-screen__control
                    a(href='').button.button--main
                        span More about us

        .b-main-screen.b-main-screen--purpose
            .b-main-screen__gradient
            .b-main-screen__lines
                .container
                    .b-main-screen__lines-item
                    .b-main-screen__lines-item
                    .b-main-screen__lines-item
                    .b-main-screen__lines-item
                    .b-main-screen__lines-item
                    .b-main-screen__lines-item
            .container
                .pepper.pepper-1.js-parallax-layer(data-parallax-deep="100")
                .pepper.pepper-3.js-parallax-layer(data-parallax-deep="50")
                .pepper.pepper-4.js-parallax-layer(data-parallax-deep="150")
                .b-main-screen__wh-block

                .b-main-screen__title
                    h2 Our goal
                    h3 Мы не подстраиваемся под изменения внешней среды – мы создаем их.
                    p The strategic goal of
                        = ' '
                        b SHEF technology
                        = ' '
                        | is to change ideas about technologies in food production, using the opportunities and scientific discoveries of breakthrough world companies.

                .b-main-screen__slider
                    .b-main-screen__slider-pagination
                        .swiper-pagination
                    .b-main-screen__slider-control
                        .swiper-button-prev.custom-button-slider.custom-button-slider--prev.js-game-slider-prev
                        .swiper-button-next.custom-button-slider.custom-button-slider--next.js-game-slider-next

                    .swiper-container.js-purpose-slider
                        .swiper-wrapper
                            .swiper-slide
                                .b-main-screen__slider-item
                                    .b-main-screen__slider-img
                                        img(src='./images/home-triangle.png' alt='')
                                        img(src='./images/home-slider/shef-tech-1.svg' alt='')
                                    .b-main-screen__slider-top
                                        .b-main-screen__slider-text Taste for knowledge
                                        .b-main-screen__slider-desc Продовольственные компании жаждут информации о современных технологических решениях, мы обязуемся использовать все наши ресурсы и возможности для удовлетворения ваших интересов и потребностей.

                            .swiper-slide
                                .b-main-screen__slider-item
                                    .b-main-screen__slider-img
                                        img(src='./images/home-triangle.png' alt='')
                                        img(src='./images/home-slider/shef-tech-2.svg' alt='')
                                    .b-main-screen__slider-top
                                        .b-main-screen__slider-text Co-creation of decisions
                                        .b-main-screen__slider-desc Эффективное взаимодействие с клиентом помогает нам лучше изучить бренд наших клиентов, категории продуктов и процессы мышления клиента, что приводит к лучшим идеям вкуса и быстрого выхода на рынок индивидуальных технологический решений.

                            .swiper-slide
                                .b-main-screen__slider-item
                                    .b-main-screen__slider-img
                                        img(src='./images/home-triangle.png' alt='')
                                        img(src='./images/home-slider/shef-tech-3.svg' alt='')
                                    .b-main-screen__slider-top
                                        .b-main-screen__slider-text Passion for taste
                                        .b-main-screen__slider-desc Исследование и разработка оригинальных, надежных и стабильных добавок является основной из наших основных страстей.

                            .swiper-slide
                                .b-main-screen__slider-item
                                    .b-main-screen__slider-img
                                        img(src='./images/home-triangle.png' alt='')
                                        img(src='./images/home-slider/shef-tech-4.svg' alt='')
                                    .b-main-screen__slider-top
                                        .b-main-screen__slider-text Партнерство во вкусе
                                        .b-main-screen__slider-desc Создание уникальных вкусовых решений для производителей продуктов питания, предприятий общественного питания и ресторанов.

                            .swiper-slide
                                .b-main-screen__slider-item
                                    .b-main-screen__slider-img
                                        img(src='./images/home-triangle.png' alt='')
                                        img(src='./images/home-slider/shef-tech-5.svg' alt='')
                                    .b-main-screen__slider-top
                                        .b-main-screen__slider-text Развивая будущее вкуса
                                        .b-main-screen__slider-desc Поднять науку и страсть вкуса к более высокому уровню, всегда сосредотачиваясь на важности людей. Уникальный способ разработки и тестирования позволяет нашим клиентам соответствовать высоким ожиданиям в отношении здоровья потребителей и чистых этикеток.

















