doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -let links = []

        -links.push({'url': 'home', 'name': 'Главная'});
        -links.push({'url': 'news', 'name': 'Новости'});
        -links.push({'url': 'news-detail', 'name': 'Новости детальная'});
        -links.push({'url': 'team', 'name': 'Сотрудники'});

        -links.push({'url': 'about', 'name': 'О компании'});
        -links.push({'url': 'contacts', 'name': 'Представители'});
        -links.push({'url': '404', 'name': '404'});
        -links.push({'url': 'catalog', 'name': 'Каталог'});




        h2 Список свёрстанных страниц
        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
