extends _layout-footer-gradient

block title
    title Главная страница
block content
    .page.js-parallax
        .b-main-screen.b-main-screen--first.b-main-screen--layout.b-main-screen--news-detail
            .b-main-screen__gradient
            .b-main-screen__lines
            .container
                .salad.salad--lg.parallax-1
                .salad.salad--md.parallax-3
                .salad.salad--sm

                .pepper.pepper-1.js-parallax-layer(data-parallax-deep="50")
                .pepper.pepper-2.js-parallax-layer(data-parallax-deep="70")
                .pepper.pepper-3.js-parallax-layer(data-parallax-deep="90")
                .pepper.pepper-4.js-parallax-layer(data-parallax-deep="110")
                +scr-sh


        .b-pattern.b-pattern--news-detail
            .b-pattern__container
                .b-pattern__title
                    .b-pattern__label News
                    h1 Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                .b-pattern__content
                    .b-news-detail
                        .b-news-detail__wrap
                            .b-news-detail__header
                                .b-news-detail__header-date 20 января 2020
                                .b-news-detail__header-name
                                    img(src='https://www.fillmurray.com/50/50' alt='')
                                    span Долорес Бурулова
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.

                            img(src='./images/news-detail/1@2x.jpg' alt='')

                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.

                            .b-news-detail__asides.b-news-detail__asides--left
                                .block-square.block-square--gradient

                            .b-news-detail__asides.b-news-detail__asides--right
                                .pepper.pepper-5.js-parallax-layer(data-parallax-deep="90")

                            h2 H2 - Lorem Ipsum - это текст-"рыба", часто вэб-дизайне.

                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

                            .b-news-detail__images
                                img(src='./images/news/3@2x.jpg' alt='')
                                img(src='./images/news/4@2x.jpg' alt='')

                            h3 H3 - Lorem Ipsum - это текст-"рыба", часто вэб-дизайне.

                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

                            ul
                                li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                li В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                                li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.

                            .b-news-detail__asides.b-news-detail__asides--left
                                .pepper.pepper-4.js-parallax-layer(data-parallax-deep="90")

                            h4 H4 - Lorem Ipsum - это текст-"рыба", часто вэб-дизайне.

                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.



                            .b-news-detail__video
                                .b-news-detail__video-bg
                                .b-news-detail__video-play.js-play-video
                                video(preload='auto')
                                    source(src='./video/Forest_15_3b_Videvo (convert-video-online.com).mp4' type="video/mp4")
                                    source(src='./video/Forest_15_3b_Videvo (convert-video-online.com).webm' type="video/webm")
                                h4 "SHEF technology" на "Агропродмаш' 19"


                            //.b-news-detail__video-yt
                            //    iframe(width="560" height="315" src="https://www.youtube.com/embed/o_Ay_iDRAbc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                            ol
                                li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                li В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                                li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.


                            blockquote
                                p Все мы обречены есть трижды в день до конца жизни. Так давайте выбирать то, что вкусно, питательно и доставляет удовольствие.

                                span Джейми Оливер

                            .b-news-detail__asides.b-news-detail__asides--right
                                .pepper.pepper-3.js-parallax-layer(data-parallax-deep="90")
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

                            .b-news-detail__table
                                .b-news-detail__table-scroll
                                    table
                                        thead
                                            tr
                                                th №
                                                th Название пункта
                                                th Столбец 1
                                                th Столбец 2
                                        tbody
                                            tr
                                                td 1.
                                                td Lorem Ipsum - это текст-"рыба"
                                                td 93873
                                                td 93873

                                            tr.active
                                                td 2.
                                                td Lorem Ipsum - это текст-"рыба"
                                                td 93873
                                                td 93873

                                            tr
                                                td 3.
                                                td Lorem Ipsum - это текст-"рыба"
                                                td 93873
                                                td 93873

                                            tr
                                                td 4.
                                                td Lorem Ipsum - это текст-"рыба"
                                                td 93873
                                                td 93873


                                    .b-news-detail__table-fake
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.


                            .b-news-detail__asides.b-news-detail__asides--left
                                .block-square.block-square--gradient
                            .b-tab
                                .b-tab__header.js-tabs-items
                                    .b-tab__header-item.active Вкладка 1
                                    .b-tab__header-item Вкладка 2
                                    .b-tab__header-item Вкладка 3
                                .b-tab__body.js-tabs-contents
                                    .b-tab__body-item.active
                                        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                                    .b-tab__body-item
                                        p 2 Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

                                    .b-tab__body-item
                                        p 3 Lorem Ipsum - это текст-"рыба", часто используемый Lorem Ipsum - это текст-"рыба", часто используемый Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                            .b-accordion
                                .b-accordion-item.open
                                    .b-accordion__title Вкладка 1
                                    .b-accordion__content
                                        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

                                .b-accordion-item
                                    .b-accordion__title Вкладка 2
                                    .b-accordion__content
                                        p 2 Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

                                .b-accordion-item
                                    .b-accordion__title Вкладка 3
                                    .b-accordion__content
                                        p 3 Lorem Ipsum - это текст-"рыба", часто используемый Lorem Ipsum - это текст-"рыба", часто используемый Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.


                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

                            .b-news-detail__footer
                                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.


