extends _layout-footer-team

block title
    title Staff
block content
    .page.js-parallax
        .b-main-screen.b-main-screen--first.b-main-screen--layout.b-main-screen--team
            .b-main-screen__gradient
            .b-main-screen__lines
            .container
                .salad.salad--lg.parallax-1
                .salad.salad--md.parallax-3
                .salad.salad--sm

                .pepper.pepper-1.parallax-6
                .pepper.pepper-2.js-parallax-layer(data-parallax-deep="70")
                .pepper.pepper-3.js-parallax-layer(data-parallax-deep="90")
                .pepper.pepper-4.js-parallax-layer(data-parallax-deep="110")
                +scr-sh


        .b-pattern.b-pattern--team
            .b-pattern__container
                .b-pattern__title
                    h1 Staff
                    p There are no random people at
                        = ' '
                        b SHEF technology
                        | . Superprofessionals work for us - real food innovation enthusiasts. We are all a little
                        = ' '
                        b crazy
                        = ' '
                        | here - obsessed with the idea of achieving perfect taste for adequate money and without harm to health.

                .b-pattern__content
                    .b-team
                        .b-team__item.poster-3d
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/1@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Dmitry Shefov
                                .b-team__item-position Director
                        .b-team__item.poster-3d
                            .pepper.pepper-3
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/2@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Elena Karlova
                                .b-team__item-position Chief Technologist
                        .b-team__item.poster-3d
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/3@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Dolores Burulova
                                .b-team__item-position Director of Business Development

                        .b-team__item.poster-3d
                            .pepper.pepper-2.parallax-6
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/4@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Dmitry Dronin
                                .b-team__item-position Regional manager
                        .b-team__item.poster-3d
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/5@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Alexander Balashov
                                .b-team__item-position Head of SHEF Lab
                        .b-team__item.poster-3d
                            .pepper.pepper-4.parallax-6
                            .b-team__item-img(data-offset="7")
                                img(src='./images/team/6@2x.jpg' alt='')
                            .b-team__item-title
                                .b-team__item-name Mikhail Vorona
                                .b-team__item-position Head of SHEF Lab
                    .b-team__blocks
                        .block-square.block-square--gradient
                        .block-square.block-square--gradient
                        //.pepper.pepper-2
                        .pepper.pepper-3.js-parallax-layer(data-parallax-deep="70")
                        .pepper.pepper-4.parallax-6
                        .pepper.pepper-5.js-parallax-layer(data-parallax-deep="130")









