$Lato: 'Lato', sans-serif;
$Intro: 'Intro Book', sans-serif;
$Intro-Alt: 'Intro Book Alt', sans-serif;

//color
$white: #fff;
$black: #000;

$black-two: #121212;
$pale: #ebe8de;
$leaf: #79b836;
$very-light-pink: #d8d8d8;

// gradient
$pale-grey: #f3fafe;
$off-white: #fdfaef;


$macaroni-and-cheese: #f2b134;
$macaroni-and-cheese30: rgba(242, 177, 52, .3);
